{{#partial "hero"}}
    {{#if carousel}}
        {{> components/carousel carousel=carousel layout="layout-1" arrows=theme_settings.homepage_show_carousel_arrows dots=theme_settings.homepage_show_carousel_dots}}
    {{/if}}
    {{{snippet 'home_content'}}}
{{/partial}}

{{#partial "page"}}

    {{#each shipping_messages}}
        {{> components/common/alert-info message}}
    {{/each}}

<div class="main full">
    {{> components/themevale/homepage/component/image-collections image-collections="image-collections-3" padding_top="padding-top-70" padding_bottom="padding-bottom-70"}}

    {{#if products.top_sellers}}
        {{> components/themevale/products/product-layout-parallax-1 products=products.top_sellers title=theme_settings.homepage_products_top_sellers_title layout=theme_settings.homepage_products_top_sellers_layout_grid columns=theme_settings.homepage_products_top_sellers_column products_show=theme_settings.homepage_products_top_sellers_show products_limit=theme_settings.homepage_products_top_sellers_limit description=theme_settings.homepage_products_top_sellers_description}}
    {{/if}}

    {{> components/themevale/homepage/component/image-collections image-collections="image-collections-4" padding_top="padding-top-100" padding_bottom="padding-bottom-100" columns=3}}

    {{#if products.featured}}
        {{> components/themevale/products/product-layout-parallax-2 products=products.featured title=theme_settings.homepage_products_featured_title layout=theme_settings.homepage_products_featured_layout_grid columns=theme_settings.homepage_products_featured_column products_show=theme_settings.homepage_products_featured_show products_limit=theme_settings.homepage_products_featured_limit description=theme_settings.homepage_products_featured_description}}
    {{/if}}

    {{> components/themevale/homepage/component/product-tabs-categories-2 padding_top="padding-top-50" padding_bottom="padding-bottom-50" products=products title=theme_settings.homepage_tabs_products-title columns=theme_settings.homepage_tabs_products_column products_limit=theme_settings.homepage_tabs_products_limit}}

    {{#if blog.recent_posts}}
        {{> components/themevale/homepage/component/latest-post latest-post="latest-post-1" padding_top="padding-top-0" padding_bottom="padding-bottom-70" blog=blog.recent_posts title=theme_settings.homepage_blog_title description=theme_settings.homepage_blog_description columns=theme_settings.homepage_blog_column blog_show=theme_settings.homepage_blog_limit}}
    {{/if}}
    
    {{> components/themevale/homepage/component/brands-carousel brands-carousel="brands-carousel-1" padding_top="padding-top-30" padding_bottom="padding-bottom-30" border-top="border-top"}}

    {{> components/themevale/homepage/component/instagram-carousel instagram-carousel="instagram-carousel-1" padding_top="padding-top-50" padding_bottom="padding-bottom-70" title-border="no-border"}}

</div>


<!--Homepage 1 New Products Backup-->
<!--
    {{#if products.new}}
	{{> components/products/product-layout padding_top="padding-top-0" padding_bottom="padding-bottom-50" products=products.new title=theme_settings.homepage_products_new_title description=theme_settings.homepage_products_new_description layout=theme_settings.homepage_products_new_layout_grid columns=theme_settings.homepage_products_new_column products_show=theme_settings.homepage_products_new_show products_limit=theme_settings.homepage_products_new_limit}}
	{{/if}}
-->

<!--Holiday Featured Products-->
<!-- 
    {{#if products.featured}}
        {{> components/products/custom-featured products=products.featured columns=theme_settings.homepage_featured_products_column_count}}
    {{/if}}
-->
{{/partial}}
{{> layout/base}}
