{{#partial "hero"}}
    {{#if carousel}}
        {{> components/carousel carousel=carousel layout="layout-1" arrows=theme_settings.homepage_show_carousel_arrows dots=theme_settings.homepage_show_carousel_dots}}
    {{/if}}
    {{{snippet 'home_content'}}}
{{/partial}}

{{#partial "page"}}

    {{#each shipping_messages}}
        {{> components/common/alert-info message}}
    {{/each}}

<div class="main full">
    {{> components/themevale/homepage/component/brands-carousel brands-carousel="brands-carousel-1" padding_top="padding-top-50" padding_bottom="padding-bottom-50" border-top=""}}

    {{> components/themevale/homepage/component/image-collections image-collections="image-collections-5" padding_top="padding-top-0" padding_bottom="padding-bottom-30"}}

    {{> components/themevale/homepage/component/services services="services-1" padding_top="padding-top-0" padding_bottom="padding-bottom-50" padding_col=theme_settings.customer-service-padding}}

    {{#if products.new}}
        {{> components/products/product-layout padding_top="padding-top-0" padding_bottom="padding-bottom-50" products=products.new title=theme_settings.homepage_products_new_title layout=theme_settings.homepage_products_new_layout_grid columns=theme_settings.homepage_products_new_column products_show=theme_settings.homepage_products_new_show products_limit=theme_settings.homepage_products_new_limit description=theme_settings.homepage_products_new_description}}
    {{/if}}

    {{> components/themevale/homepage/component/image-collections image-collections="image-collections-6" padding_top="padding-top-0" padding_bottom="padding-bottom-50"}}

    {{#if products.top_sellers}}
        {{> components/products/product-layout-2 padding_top="padding-top-0" padding_bottom="padding-bottom-50" products=products.top_sellers title=theme_settings.homepage_products_top_sellers_title layout=theme_settings.homepage_products_top_sellers_layout_grid columns=theme_settings.homepage_products_top_sellers_column products_show=theme_settings.homepage_products_top_sellers_show products_limit=theme_settings.homepage_products_top_sellers_limit description=theme_settings.homepage_products_top_sellers_description}}
    {{/if}}

    {{> components/themevale/homepage/component/featured featured="featured-3" padding_top="padding-top-0" padding_bottom="padding-bottom-50"}}

    {{> components/themevale/homepage/component/about-us-1}}

    {{> components/themevale/homepage/component/instagram-carousel instagram-carousel="instagram-carousel-1" padding_top="padding-top-50" padding_bottom="padding-bottom-70" title-border="no-border"}}

</div>
{{/partial}}
{{> layout/base}}
