<section class="themevale-section {{padding_top}} {{padding_bottom}}">
    <div class="container">
        {{#each categories}}
            {{#if id '==' ../category_id}}
                <div class="themevale_productsByCategorySortTabs">
                    <h2 class="page-heading"><a href="{{url}}">{{name}}</a></h2>
                    {{> components/themevale/homepage/component/ajax-products-by-category-sorting-tabs-custom banner=../../banner }}
                </div>
            {{else}}
                {{#each children}}
                    {{#if id '==' ../../../category_id}}
                        <div class="themevale_productsByCategorySortTabs">
                            <h2 class="page-heading"><a href="{{url}}">{{name}}</a></h2>
                            {{> components/themevale/homepage/component/ajax-products-by-category-sorting-tabs-custom banner=../../../../banner }}
                        </div>
                    {{else}}
                        {{#each children}}
                            {{#if id '==' ../../../../../category_id}}
                                <div class="themevale_productsByCategorySortTabs">
                                    <h2 class="page-heading"><a href="{{url}}">{{name}}</a></h2>
                                    {{> components/themevale/homepage/component/ajax-products-by-category-sorting-tabs-custom banner=../../../../../../banner }}
                                </div>
                            {{else}}
                                {{#each children}}
                                    {{#if id '==' ../../../../../../../category_id}}
                                        <div class="themevale_productsByCategorySortTabs">
                                            <h2 class="page-heading"><a href="{{url}}">{{name}}</a></h2>
                                            {{> components/themevale/homepage/component/ajax-products-by-category-sorting-tabs-custom banner=../../../../../../../../banner }}
                                        </div>
                                    {{else}}
                                        {{#each children}}
                                            {{#if id '==' ../../../../../../../../../category_id}}
                                                <div class="themevale_productsByCategorySortTabs">
                                                    <h2 class="page-heading"><a href="{{url}}">{{name}}</a></h2>
                                                    {{> components/themevale/homepage/component/ajax-products-by-category-sorting-tabs-custom banner=../../../../../../../../../../banner }}
                                                </div>
                                            {{/if}}
                                        {{/each}}
                                    {{/if}}
                                {{/each}}
                            {{/if}}
                        {{/each}}
                    {{/if}}
                {{/each}}
            {{/if}}
        {{/each}}
    </div>
</section>
