{{#if banner-parallax '==' 'banner-parallax-1'}}
<div class="themevale-section {{padding_top}}">
    {{> components/themevale/homepage/component/layout-banner find="themevale_banner1"}}
</div>
{{/if}}

{{#if banner-parallax '==' 'banner-parallax-2'}}
<section class="themevale-section">
    {{> components/themevale/homepage/component/layout-banner find="themevale_banner1"}}
</section>
{{/if}}

{{#if banner-parallax '==' 'banner-parallax-3'}}
<section class="themevale-section">
    {{> components/themevale/homepage/component/layout-banner find="themevale_banner2"}}
</section>
{{/if}}

{{#if banner-parallax '==' 'banner-parallax-4'}}
<div class="themevale-section">
    {{> components/themevale/homepage/component/layout-banner find="themevale_banner1"}}
</div>
{{/if}}

{{#if banner-parallax '==' 'banner-parallax-5'}}
<div class="themevale-section">
    {{> components/themevale/homepage/component/layout-banner find="themevale_banner2"}}
</div>
{{/if}}

{{#if banner-parallax '==' 'banner-parallax-6'}}
<div class="themevale-section">
    {{> components/themevale/homepage/component/layout-banner find="themevale_banner2"}}
</div>
{{/if}}

{{#if banner-parallax '==' 'banner-parallax-7'}}
<div class="themevale-section">
    <div class="container">
        {{> components/themevale/homepage/component/layout-banner find="themevale_banner1"}}
    </div>
</div>
{{/if}}

{{#if banner-parallax '==' 'banner-parallax-8'}}
<div class="themevale-section">
    <div class="container">
        {{> components/themevale/homepage/component/layout-banner find="themevale_banner1"}}
    </div>
</div>
{{/if}}

{{#if banner-parallax '==' 'banner-parallax-9'}}
<div class="themevale-section themevale-parallax">
    <div class="container">
        {{> components/themevale/homepage/component/layout-banner find="themevale_banner1"}}
    </div>
    <div class="lookbook-popup"></div>
</div>
{{/if}}
