{{#if banner '===' 'banner-slide-1'}}
    <div class="themevale_marketingBanner"
        data-slick='{
            "dots": true,
            "arrows": false,
            "slidesToShow": 1,
            "slidesToScroll": 1,
            "autoplay": true,
            "infinite": true,
            "autoplaySpeed": 3000,
            "nextArrow": "<svg class=&apos;slick-next slick-arrow&apos;><use xlink:href=&apos;#icon-slick-next&apos;></use></svg>", 
            "prevArrow": "<svg class=&apos;slick-prev slick-arrow&apos;><use xlink:href=&apos;#icon-slick-prev&apos;></use></svg>"}'>
        <div class="item">
            <div class="themevale_marketingBanner-wrapper" {{#and image_height image_width}}style="height: {{multiply (divide image_height image_width) 100}}vw"{{/and}}>
                <a href="#" class="link"></a>
                <img class="lazyload" src="{{cdn 'img/loading.svg'}}" data-src="https://cdn11.bigcommerce.com/s-3tntjfynbx/product_images/uploaded_images/banner-marketing-1.jpg" alt="" {{#if image_width}}width="{{image_width}}"{{/if}} {{#if image_height}}height="{{image_height}}"{{/if}}>
                <div class="content-wrapper">
                    <h3 class="title">Milancelos</h3>
                    <div class="description">Phasellus lorem pulvinar maecenas cosmopolis</div>
                    <a href="#" class="button button--white">Shop Now</a>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="themevale_marketingBanner-wrapper" {{#and image_height image_width}}style="height: {{multiply (divide image_height image_width) 100}}vw"{{/and}}>
                <a href="#" class="link"></a>
                <img class="lazyload" src="{{cdn 'img/loading.svg'}}" data-src="https://cdn11.bigcommerce.com/s-3tntjfynbx/product_images/uploaded_images/banner-marketing-2.jpg" alt="" {{#if image_width}}width="{{image_width}}"{{/if}} {{#if image_height}}height="{{image_height}}"{{/if}}>
                <div class="content-wrapper">
                    <h3 class="title">#Cosmó</h3>
                    <div class="description">Phasellus lorem pulvinar maecenas cosmopolis</div>
                    <a href="#" class="button button--white">Shop Now</a>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="themevale_marketingBanner-wrapper" {{#and image_height image_width}}style="height: {{multiply (divide image_height image_width) 100}}vw"{{/and}}>
                <a href="#" class="link"></a>
                <img class="lazyload" src="{{cdn 'img/loading.svg'}}" data-src="https://cdn11.bigcommerce.com/s-3tntjfynbx/product_images/uploaded_images/banner-marketing-3.jpg" alt="" {{#if image_width}}width="{{image_width}}"{{/if}} {{#if image_height}}height="{{image_height}}"{{/if}}>
                <div class="content-wrapper">
                    <h3 class="title">Metropolis</h3>
                    <div class="description">Phasellus lorem pulvinar maecenas cosmopolis</div>
                    <a href="#" class="button button--white">Shop Now</a>
                </div>
            </div>
        </div>
    </div>
{{/if}}
{{#if banner '===' 'banner-slide-2'}}
    <div class="themevale_marketingBanner"
        data-slick='{
            "dots": true,
            "arrows": false,
            "slidesToShow": 1,
            "slidesToScroll": 1,
            "autoplay": true,
            "infinite": true,
            "autoplaySpeed": 3000,
            "nextArrow": "<svg class=&apos;slick-next slick-arrow&apos;><use xlink:href=&apos;#icon-slick-next&apos;></use></svg>", 
            "prevArrow": "<svg class=&apos;slick-prev slick-arrow&apos;><use xlink:href=&apos;#icon-slick-prev&apos;></use></svg>"}'>
        <div class="item">
            <div class="themevale_marketingBanner-wrapper" {{#and image_height image_width}}style="height: {{multiply (divide image_height image_width) 100}}vw"{{/and}}>
                <a href="#" class="link"></a>
                <img class="lazyload" src="{{cdn 'img/loading.svg'}}" data-src="https://cdn11.bigcommerce.com/s-3tntjfynbx/product_images/uploaded_images/banner-marketing-2.jpg" alt="" {{#if image_width}}width="{{image_width}}"{{/if}} {{#if image_height}}height="{{image_height}}"{{/if}}>
                <div class="content-wrapper">
                    <h3 class="title">#Cosmó</h3>
                    <div class="description">Phasellus lorem pulvinar maecenas cosmopolis</div>
                    <a href="#" class="button button--white">Shop Now</a>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="themevale_marketingBanner-wrapper" {{#and image_height image_width}}style="height: {{multiply (divide image_height image_width) 100}}vw"{{/and}}>
                <a href="#" class="link"></a>
                <img class="lazyload" src="{{cdn 'img/loading.svg'}}" data-src="https://cdn11.bigcommerce.com/s-3tntjfynbx/product_images/uploaded_images/banner-marketing-3.jpg" alt="" {{#if image_width}}width="{{image_width}}"{{/if}} {{#if image_height}}height="{{image_height}}"{{/if}}>
                <div class="content-wrapper">
                    <h3 class="title">Metropolis</h3>
                    <div class="description">Phasellus lorem pulvinar maecenas cosmopolis</div>
                    <a href="#" class="button button--white">Shop Now</a>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="themevale_marketingBanner-wrapper" {{#and image_height image_width}}style="height: {{multiply (divide image_height image_width) 100}}vw"{{/and}}>
                <a href="#" class="link"></a>
                <img class="lazyload" src="{{cdn 'img/loading.svg'}}" data-src="https://cdn11.bigcommerce.com/s-3tntjfynbx/product_images/uploaded_images/banner-marketing-4.jpg" alt="" {{#if image_width}}width="{{image_width}}"{{/if}} {{#if image_height}}height="{{image_height}}"{{/if}}>
                <div class="content-wrapper">
                    <h3 class="title">#Dapbõe</h3>
                    <div class="description">Phasellus lorem pulvinar maecenas cosmopolis</div>
                    <a href="#" class="button button--white">Shop Now</a>
                </div>
            </div>
        </div>
    </div>
{{/if}}
{{#if banner '===' 'banner-slide-3'}}
    <div class="themevale_marketingBanner"
        data-slick='{
            "dots": true,
            "arrows": false,
            "slidesToShow": 1,
            "slidesToScroll": 1,
            "autoplay": true,
            "infinite": true,
            "autoplaySpeed": 3000,
            "nextArrow": "<svg class=&apos;slick-next slick-arrow&apos;><use xlink:href=&apos;#icon-slick-next&apos;></use></svg>", 
            "prevArrow": "<svg class=&apos;slick-prev slick-arrow&apos;><use xlink:href=&apos;#icon-slick-prev&apos;></use></svg>"}'>
        <div class="item">
            <div class="themevale_marketingBanner-wrapper" {{#and image_height image_width}}style="height: {{multiply (divide image_height image_width) 100}}vw"{{/and}}>
                <a href="#" class="link"></a>
                <img class="lazyload" src="{{cdn 'img/loading.svg'}}" data-src="https://cdn11.bigcommerce.com/s-3tntjfynbx/product_images/uploaded_images/banner-marketing-3.jpg" alt="" {{#if image_width}}width="{{image_width}}"{{/if}} {{#if image_height}}height="{{image_height}}"{{/if}}>
                <div class="content-wrapper">
                    <h3 class="title">Metropolis</h3>
                    <div class="description">Phasellus lorem pulvinar maecenas cosmopolis</div>
                    <a href="#" class="button button--white">Shop Now</a>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="themevale_marketingBanner-wrapper" {{#and image_height image_width}}style="height: {{multiply (divide image_height image_width) 100}}vw"{{/and}}>
                <a href="#" class="link"></a>
                <img class="lazyload" src="{{cdn 'img/loading.svg'}}" data-src="https://cdn11.bigcommerce.com/s-3tntjfynbx/product_images/uploaded_images/banner-marketing-4.jpg" alt="" {{#if image_width}}width="{{image_width}}"{{/if}} {{#if image_height}}height="{{image_height}}"{{/if}}>
                <div class="content-wrapper">
                    <h3 class="title">#Dapbõe</h3>
                    <div class="description">Phasellus lorem pulvinar maecenas cosmopolis</div>
                    <a href="#" class="button button--white">Shop Now</a>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="themevale_marketingBanner-wrapper" {{#and image_height image_width}}style="height: {{multiply (divide image_height image_width) 100}}vw"{{/and}}>
                <a href="#" class="link"></a>
                <img class="lazyload" src="{{cdn 'img/loading.svg'}}" data-src="https://cdn11.bigcommerce.com/s-3tntjfynbx/product_images/uploaded_images/banner-marketing-1.jpg" alt="" {{#if image_width}}width="{{image_width}}"{{/if}} {{#if image_height}}height="{{image_height}}"{{/if}}>
                <div class="content-wrapper">
                    <h3 class="title">Milancelos</h3>
                    <div class="description">Phasellus lorem pulvinar maecenas cosmopolis</div>
                    <a href="#" class="button button--white">Shop Now</a>
                </div>
            </div>
        </div>
    </div>
{{/if}}
{{#if banner '===' 'banner-slide-4'}}
    <div class="themevale_marketingBanner"
        data-slick='{
            "dots": true,
            "arrows": false,
            "slidesToShow": 1,
            "slidesToScroll": 1,
            "autoplay": true,
            "infinite": true,
            "autoplaySpeed": 3000,
            "nextArrow": "<svg class=&apos;slick-next slick-arrow&apos;><use xlink:href=&apos;#icon-slick-next&apos;></use></svg>", 
            "prevArrow": "<svg class=&apos;slick-prev slick-arrow&apos;><use xlink:href=&apos;#icon-slick-prev&apos;></use></svg>"}'>
        <div class="item">
            <div class="themevale_marketingBanner-wrapper" {{#and image_height image_width}}style="height: {{multiply (divide image_height image_width) 100}}vw"{{/and}}>
                <a href="#" class="link"></a>
                <img class="lazyload" src="{{cdn 'img/loading.svg'}}" data-src="https://cdn11.bigcommerce.com/s-3tntjfynbx/product_images/uploaded_images/banner-marketing-4.jpg" alt="" {{#if image_width}}width="{{image_width}}"{{/if}} {{#if image_height}}height="{{image_height}}"{{/if}}>
                <div class="content-wrapper">
                    <h3 class="title">#Dapbõe</h3>
                    <div class="description">Phasellus lorem pulvinar maecenas cosmopolis</div>
                    <a href="#" class="button button--white">Shop Now</a>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="themevale_marketingBanner-wrapper" {{#and image_height image_width}}style="height: {{multiply (divide image_height image_width) 100}}vw"{{/and}}>
                <a href="#" class="link"></a>
                <img class="lazyload" src="{{cdn 'img/loading.svg'}}" data-src="https://cdn11.bigcommerce.com/s-3tntjfynbx/product_images/uploaded_images/banner-marketing-1.jpg" alt="" {{#if image_width}}width="{{image_width}}"{{/if}} {{#if image_height}}height="{{image_height}}"{{/if}}>
                <div class="content-wrapper">
                    <h3 class="title">Milancelos</h3>
                    <div class="description">Phasellus lorem pulvinar maecenas cosmopolis</div>
                    <a href="#" class="button button--white">Shop Now</a>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="themevale_marketingBanner-wrapper" {{#and image_height image_width}}style="height: {{multiply (divide image_height image_width) 100}}vw"{{/and}}>
                <a href="#" class="link"></a>
                <img class="lazyload" src="{{cdn 'img/loading.svg'}}" data-src="https://cdn11.bigcommerce.com/s-3tntjfynbx/product_images/uploaded_images/banner-marketing-2.jpg" alt="" {{#if image_width}}width="{{image_width}}"{{/if}} {{#if image_height}}height="{{image_height}}"{{/if}}>
                <div class="content-wrapper">
                    <h3 class="title">#Cosmó</h3>
                    <div class="description">Phasellus lorem pulvinar maecenas cosmopolis</div>
                    <a href="#" class="button button--white">Shop Now</a>
                </div>
            </div>
        </div>
    </div>
{{/if}}
