{{#if brands-carousel '==' 'brands-carousel-1'}}
<section class="themevale-section {{padding_top}} {{padding_bottom}} {{border-top}}">
    <div class="container">
        {{> components/themevale/homepage/component/layout-banner find="themevale_brand1"}}
    </div>
</section>
{{/if}}

{{#if brands-carousel '==' 'brands-carousel-2'}}
<section class="themevale-section {{padding_top}} {{padding_bottom}} {{border-top}}">
    <div class="container">
        {{> components/themevale/homepage/component/layout-banner find="themevale_brand1"}}
    </div>
</section>
{{/if}}

{{#if brands-carousel '==' 'brands-carousel-3'}}
<section class="themevale-section {{padding_top}} {{padding_bottom}} {{border-top}}">
    <div class="container">
        {{> components/themevale/homepage/component/layout-banner find="themevale_brand1"}}
    </div>
</section>
{{/if}}

{{#if brands-carousel '==' 'brands-carousel-4'}}
<section class="themevale-section {{padding_top}} {{padding_bottom}} {{border-top}}">
    <div class="container">
        {{> components/themevale/homepage/component/layout-banner find="themevale_brand1"}}
    </div>
</section>
{{/if}}
