{{#if featured '==' 'featured-1'}}
<section class="themevale-section {{padding_top}} {{padding_bottom}}">
    <div class="container">
        {{> components/themevale/homepage/component/layout-banner find="themevale_featured1"}}
    </div>
</section>
{{/if}}


{{#if featured '==' 'featured-2'}}
<section class="themevale-section {{padding_top}} {{padding_bottom}}">
    <div class="container">
        {{> components/themevale/homepage/component/layout-banner find="themevale_featured1"}}
    </div>
</section>
{{/if}}


{{#if featured '==' 'featured-3'}}
<section class="themevale-section {{padding_top}} {{padding_bottom}}">
    <div class="container">
        {{> components/themevale/homepage/component/layout-banner find="themevale_featured1"}}
    </div>
</section>
{{/if}}

{{#if featured '==' 'featured-4'}}
<section class="themevale-section background-gray {{padding_top}} {{padding_bottom}}">
    <div class="container">
        {{> components/themevale/homepage/component/layout-banner find="themevale_featured1"}}
    </div>
</section>
{{/if}}

{{#if featured '==' 'featured-5'}}
<section class="themevale-section {{padding_top}} {{padding_bottom}}">
    <div class="container">
        {{> components/themevale/homepage/component/layout-banner find="themevale_featured1"}}
    </div>
</section>
{{/if}}
