{{#if image-collections '==' 'image-collections-1'}}
<section class="themevale-section {{padding_top}} {{padding_bottom}}">
    <div class="container">
        {{> components/themevale/homepage/component/layout-banner find="themevale_collection1"}}
    </div>
</section>
{{/if}}

{{#if image-collections '==' 'image-collections-2'}}
<section class="themevale-section {{padding_top}} {{padding_bottom}}">
    <div class="container">
        {{> components/themevale/homepage/component/layout-banner find="themevale_collection1"}}
    </div>
</section>
{{/if}}

{{#if image-collections '==' 'image-collections-3'}}
<section class="themevale-section {{padding_top}} {{padding_bottom}}">
    <div class="container">
        {{> components/themevale/homepage/component/layout-banner find="themevale_collection1"}}
    </div>
</section>
{{/if}}

{{#if image-collections '==' 'image-collections-4'}}
<section class="themevale-section background-gray {{padding_top}} {{padding_bottom}}">
    <div class="container">
        {{> components/themevale/homepage/component/layout-banner find="themevale_collection2"}}
    </div>
</section>
{{/if}}

{{#if image-collections '==' 'image-collections-5'}}
<section class="themevale-section {{padding_top}} {{padding_bottom}}">
    <div class="container">
        {{> components/themevale/homepage/component/layout-banner find="themevale_collection1"}}
    </div>
</section>
{{/if}}

{{#if image-collections '==' 'image-collections-6'}}
<section class="themevale-section {{padding_top}} {{padding_bottom}}">
    <div class="container">
        {{> components/themevale/homepage/component/layout-banner find="themevale_collection2"}}
    </div>
</section>
{{/if}}

{{#if image-collections '==' 'image-collections-7'}}
<section class="themevale-section padding-top-30-mobile {{padding_top}} {{padding_bottom}}">
    {{> components/themevale/homepage/component/layout-banner find="themevale_collection1"}}
</section>
{{/if}}

{{#if image-collections '==' 'image-collections-8'}}
<section class="themevale-section {{padding_top}} {{padding_bottom}}">
    <div class="container">
        {{> components/themevale/homepage/component/layout-banner find="themevale_collection2"}}
    </div>
</section>
{{/if}}

{{#if image-collections '==' 'image-collections-9'}}
<section class="themevale-section padding-top-30-mobile {{padding_top}} {{padding_bottom}}">
    {{> components/themevale/homepage/component/layout-banner find="themevale_collection1"}}
</section>
{{/if}}

{{#if image-collections '==' 'image-collections-10'}}
<section class="themevale-section {{padding_top}} {{padding_bottom}} background-gray">
    <div class="container">
        {{> components/themevale/homepage/component/layout-banner find="themevale_collection1"}}
    </div>
</section>
{{/if}}

{{#if image-collections '==' 'image-collections-11'}}
<section class="themevale-section {{padding_top}} {{padding_bottom}}">
    <div class="container">
        {{> components/themevale/homepage/component/layout-banner find="themevale_collection1"}}
    </div>
</section>
{{/if}}

{{#if image-collections '==' 'image-collections-12'}}
<section class="themevale-section {{padding_top}} {{padding_bottom}}">
    <div class="container">
        {{> components/themevale/homepage/component/layout-banner find="themevale_collection2"}}
    </div>
</section>
{{/if}}

{{#if image-collections '==' 'image-collections-13'}}
<section class="themevale-section {{padding_top}} {{padding_bottom}}">
    {{> components/themevale/homepage/component/layout-banner find="themevale_collection1"}}
</section>
{{/if}}

{{#if image-collections '==' 'image-collections-14'}}
<section class="themevale-section padding-top-30-mobile {{padding_top}} {{padding_bottom}}">
    {{> components/themevale/homepage/component/layout-banner find="themevale_collection2"}}
</section>
{{/if}}

{{#if image-collections '==' 'image-collections-15'}}
<section class="themevale-section {{padding_top}} {{padding_bottom}}">
    <div class="container">
        {{> components/themevale/homepage/component/layout-banner find="themevale_collection1"}}
    </div>
</section>
{{/if}}

{{#if image-collections '==' 'image-collections-16'}}
<section class="themevale-section {{padding_top}} {{padding_bottom}}">
    <div class="container">
        {{> components/themevale/homepage/component/layout-banner find="themevale_collection2"}}
    </div>
</section>
{{/if}}

{{#if image-collections '==' 'image-collections-17'}}
<section class="themevale-section {{padding_top}} {{padding_bottom}}">
    <div class="container">
        {{> components/themevale/homepage/component/layout-banner find="themevale_collection1"}}
    </div>
</section>
{{/if}}


{{#if image-collections '==' 'image-collections-18'}}
<section class="themevale-section {{padding_top}} {{padding_bottom}}">
    <div class="container">
        {{> components/themevale/homepage/component/layout-banner find="themevale_collection2"}}
    </div>
</section>
{{/if}}

{{#if image-collections '==' 'image-collections-19'}}
<section class="themevale-section {{padding_top}} {{padding_bottom}}">
    <div class="container">
        {{> components/themevale/homepage/component/layout-banner find="themevale_collection3"}}
    </div>
</section>
{{/if}}

{{#if image-collections '==' 'image-collections-20'}}
<section class="themevale-section {{padding_top}} {{padding_bottom}} margin-top--100">
    <div class="container">
        {{> components/themevale/homepage/component/layout-banner find="themevale_collection1"}}
    </div>
</section>
{{/if}}

{{#if image-collections '==' 'image-collections-21'}}
<section class="themevale-section {{padding_top}} {{padding_bottom}}">
    <div class="container">
        {{> components/themevale/homepage/component/layout-banner find="themevale_collection2"}}
    </div>
</section>
{{/if}}


{{#if image-collections '==' 'image-collections-22'}}
<section class="themevale-section {{padding_top}} {{padding_bottom}}">
    <div class="container">
        {{> components/themevale/homepage/component/layout-banner find="themevale_collection3"}}
    </div>
</section>
{{/if}}


{{#if image-collections '==' 'image-collections-23'}}
<section class="themevale-section {{padding_top}} {{padding_bottom}}">
    <div class="container">
        {{> components/themevale/homepage/component/layout-banner find="themevale_collection1"}}
    </div>
</section>
{{/if}}

{{#if image-collections '==' 'image-collections-24'}}
<section class="themevale-section {{padding_top}} {{padding_bottom}}">
    <div class="container">
        {{> components/themevale/homepage/component/layout-banner find="themevale_collection1"}}
    </div>
</section>
{{/if}}

{{#if image-collections '==' 'image-collections-25'}}
<section class="themevale-section {{padding_top}} {{padding_bottom}}">
    <div class="container">
        {{> components/themevale/homepage/component/layout-banner find="themevale_collection1"}}
    </div>
</section>
{{/if}}
