{{#if instagram-carousel '==' 'instagram-carousel-1'}}
<section id="InstagramGallery" class="themevale-section {{padding_top}} {{padding_bottom}} background-gray">
    <div class="container">
        <h2 class="page-heading {{title-border}}">
            <span class="title">
               <svg class="icon"><use xlink:href="#icon-instagram"></use></svg>
                {{theme_settings.instagram_title}}
            </span>
        </h2>
        <p class="page-description">{{theme_settings.instagram_description}}</p>
        <div id="instafeed" class="themevale_instagram-carousel" data-userid="{{theme_settings.instagram_userid}}" data-accesstoken="{{theme_settings.instagram_accesstoken}}"></div>
        <div class="button-wrapper text-center padding-top-30">
            <a href="{{theme_settings.instagram_link}}" target="_blank" rel="noopener" class="button"><span>View Gallery</span></a>
        </div>
    </div>
</section>
{{/if}}

{{#if instagram-carousel '==' 'instagram-carousel-2'}}
<section id="InstagramGallery" class="themevale-section {{padding_top}} {{padding_bottom}} {{border-top}}">
    <div class="container">
        <h2 class="page-heading {{title-border}}">
            <span class="title">
               <svg class="icon"><use xlink:href="#icon-instagram"></use></svg>
                {{theme_settings.instagram_title}}
            </span>
        </h2>
        <p class="page-description">{{theme_settings.instagram_description}}</p>
        <div id="instafeed" class="themevale_instagram-carousel" data-userid="{{theme_settings.instagram_userid}}" data-accesstoken="{{theme_settings.instagram_accesstoken}}"></div>
        <div class="button-wrapper text-center padding-top-30">
            <a href="{{theme_settings.instagram_link}}" target="_blank" rel="noopener" class="button"><span>View Gallery</span></a>
        </div>
    </div>
</section>
{{/if}}

{{#if instagram-carousel '==' 'instagram-carousel-3'}}
<section id="InstagramGallery2" class="themevale-section {{padding_top}} {{padding_bottom}} {{border-top}}">
    <div class="container">
        <h2 class="page-heading {{title-border}}">
            <span class="title">
               <svg class="icon"><use xlink:href="#icon-instagram"></use></svg>
                {{theme_settings.instagram_title}}
            </span>
        </h2>
        <p class="page-description">{{theme_settings.instagram_description}}</p>
        <div id="instafeed" class="themevale_instagram-carousel" data-userid="{{theme_settings.instagram_userid}}" data-accesstoken="{{theme_settings.instagram_accesstoken}}"></div>
        <div class="button-wrapper text-center padding-top-30">
            <a href="{{theme_settings.instagram_link}}" target="_blank" rel="noopener" class="button button--big"><span>View Gallery</span></a>
        </div>
    </div>
</section>
{{/if}}

{{#if instagram-carousel '==' 'instagram-carousel-4'}}
<section id="InstagramGallery3" class="themevale-section {{padding_top}} {{padding_bottom}} {{border-top}}" >
    <div class="container">
        <h2 class="page-heading {{title-border}}">
            <span class="title">
               <svg class="icon"><use xlink:href="#icon-instagram"></use></svg>
                {{theme_settings.instagram_title}}
            </span>
        </h2>
        <p class="page-description">{{theme_settings.instagram_description}}</p>
    </div>
    <div id="instafeed" class="themevale_instagram-carousel style-2" data-userid="{{theme_settings.instagram_userid}}" data-accesstoken="{{theme_settings.instagram_accesstoken}}"></div>
</section>
{{/if}}

{{#if instagram-carousel '==' 'instagram-carousel-5'}}
<section id="InstagramGallery4" class="themevale-section {{padding_top}} {{padding_bottom}}  background-gray">
    <div class="container">
        <h2 class="page-heading {{title-border}}">
            <span class="title">
               <svg class="icon"><use xlink:href="#icon-instagram"></use></svg>
                {{theme_settings.instagram_title}}
            </span>
        </h2>
        <p class="page-description">{{theme_settings.instagram_description}}</p>
        <div id="instafeed" class="themevale_instagram-carousel style-3" data-userid="{{theme_settings.instagram_userid}}" data-accesstoken="{{theme_settings.instagram_accesstoken}}"></div>
        <div class="button-wrapper text-center padding-top-30">
            <a href="{{theme_settings.instagram_link}}" target="_blank" rel="noopener" class="button button--border"><span>View Gallery</span></a>
        </div>
    </div>
</section>
{{/if}}

{{#if instagram-carousel '==' 'instagram-carousel-6'}}
<section id="InstagramGallery" class="themevale-section {{padding_top}} {{padding_bottom}} {{border-top}}">
    <div class="container">
        <h2 class="page-heading {{title-border}}">
            <span class="title">
               <svg class="icon"><use xlink:href="#icon-instagram"></use></svg>
                {{theme_settings.instagram_title}}
            </span>
        </h2>
        <p class="page-description">{{theme_settings.instagram_description}}</p>
        <div id="instafeed" class="themevale_instagram-carousel" data-userid="{{theme_settings.instagram_userid}}" data-accesstoken="{{theme_settings.instagram_accesstoken}}"></div>
        <div class="button-wrapper text-center padding-top-30">
            <a href="{{theme_settings.instagram_link}}" target="_blank" rel="noopener" class="button button--border button--big"><span>View Gallery</span></a>
        </div>
    </div>
</section>
{{/if}}
