<section class="themevale-section {{padding_top}} {{padding_bottom}}">
    <div class="container">
        {{#if title}}
            <h2 class="page-heading"><span class="title">{{title}}</span></h2>
        {{/if}}
        <div class="themevale_product-tabs">
            <ul class="tabs style-3" data-tab role="tablist">
                <li class="tab is-active" role="presentation">
                    <a class="tab-title" href="#category_1" role="tab" tabindex="0" aria-selected="true" aria-controls="category_1">New Arrivals</a></li>
                <li class="tab" role="presentation">
                    <a class="tab-title" href="#category_2" role="tab" tabindex="0" aria-selected="false" aria-controls="category_2">Editor’s Picks</a></li>
                <li class="tab" role="presentation">
                    <a class="tab-title" href="#category_3" role="tab" tabindex="0" aria-selected="false" aria-controls="category_3">Most Popular</a></li>
            </ul>
            <div class="tabs-contents">
                <div class="tab-content is-active" id="category_1" role="tabpanel" aria-hidden="true">
                    {{> components/themevale/homepage/component/ajax-products-by-category category_id="168"}}
                </div>
                <div class="tab-content" id="category_2" role="tabpanel" aria-hidden="false">
                    {{> components/themevale/homepage/component/ajax-products-by-category category_id="167"}}
                </div>
                <div class="tab-content" id="category_3" role="tabpanel" aria-hidden="false">
                    {{> components/themevale/homepage/component/ajax-products-by-category category_id="240"}}
                </div>
            </div>
        </div>
    </div>
</section>
