<section class="themevale-section {{padding_top}} {{padding_bottom}}">
    <div class="container">
        {{#if title}}
            <h2 class="page-heading {{custom}}"><span class="title">{{title}}</span></h2>
        {{/if}}
        <div class="themevale_product-tabs">
            <ul class="tabs style-2" data-tab role="tablist">
                <li class="tab is-active" role="presentation">
                    <a class="tab-title" href="#category_1" role="tab" tabindex="0" aria-selected="true" aria-controls="category_1">Womens</a></li>
                <li class="tab" role="presentation">
                    <a class="tab-title" href="#category_2" role="tab" tabindex="0" aria-selected="false" aria-controls="category_2">men</a></li>
                <li class="tab" role="presentation">
                    <a class="tab-title" href="#category_3" role="tab" tabindex="0" aria-selected="false" aria-controls="category_3">Shoes</a></li>
                <li class="tab" role="presentation">
                    <a class="tab-title" href="#category_4" role="tab" tabindex="0" aria-selected="false" aria-controls="category_4">Bags</a></li>
                <li class="tab" role="presentation">
                    <a class="tab-title" href="#category_5" role="tab" tabindex="0" aria-selected="false" aria-controls="category_5">Sunglasses</a></li>
                <li class="tab" role="presentation">
                    <a class="tab-title" href="#category_6" role="tab" tabindex="0" aria-selected="false" aria-controls="category_6">Accessories</a></li>
            </ul>
            <div class="tabs-contents">
                <div class="tab-content is-active" id="category_1" role="tabpanel" aria-hidden="true">
                    {{> components/themevale/homepage/component/ajax-products-by-category category_id="261"}}
                </div>
                <div class="tab-content" id="category_2" role="tabpanel" aria-hidden="false">
                    {{> components/themevale/homepage/component/ajax-products-by-category category_id="303"}}
                </div>
                <div class="tab-content" id="category_3" role="tabpanel" aria-hidden="false">
                    {{> components/themevale/homepage/component/ajax-products-by-category category_id="330"}}
                </div>
                <div class="tab-content" id="category_4" role="tabpanel" aria-hidden="false">
                    {{> components/themevale/homepage/component/ajax-products-by-category category_id="263"}}
                </div>
                <div class="tab-content" id="category_5" role="tabpanel" aria-hidden="false">
                    {{> components/themevale/homepage/component/ajax-products-by-category category_id="279"}}
                </div>
                <div class="tab-content" id="category_6" role="tabpanel" aria-hidden="false">
                    {{> components/themevale/homepage/component/ajax-products-by-category category_id="292"}}
                </div>
            </div>
        </div>
    </div>
</section>
