{{#if services '==' 'services-1'}}
<div class="themevale-section {{padding_top}} {{padding_bottom}} {{border-top}} {{custom}}">
    <div class="container">
        <div class="themevale_service {{#if padding_col}}padding-col themevale_customColumn{{/if}}">
            <div class="item">
                <div class="service-wrapper">
                    <div class="icon">
                        <svg><use xlink:href="#icon-truck"></use></svg>
                    </div>
                    <div class="text">Free Shipping on all orders *</div>
                </div>
            </div>
            <div class="item">
                <div class="service-wrapper">
                    <div class="icon">
                        <svg><use xlink:href="#gift-box"></use></svg>
                    </div>
                    <div class="text">Student Discount 40% OFF</div>
                </div>
            </div>
            <div class="item">
                <div class="service-wrapper">
                    <div class="icon">
                        <svg><use xlink:href="#icon-refresh"></use></svg>
                    </div>
                    <div class="text">Free Returns In-Store</div>
                </div>
            </div>
        </div>
    </div>
</div>
{{/if}}

{{#if services '==' 'services-2'}}
<div class="themevale-section {{padding_top}} {{padding_bottom}} {{border-top}} {{custom}}">
    <div class="themevale_service col-4 {{#if padding_col}}padding-col themevale_customColumn{{/if}}">
        <div class="item">
            <div class="service-wrapper">
                <div class="icon">
                    <svg><use xlink:href="#icon-truck"></use></svg>
                </div>
                <div class="text">Free Shipping on all orders *</div>
            </div>
        </div>
        <div class="item">
            <div class="service-wrapper">
                <div class="icon">
                    <svg><use xlink:href="#gift-box"></use></svg>
                </div>
                <div class="text">Student Discount 40% OFF</div>
            </div>
        </div>
        <div class="item">
            <div class="service-wrapper">
                <div class="icon">
                    <svg><use xlink:href="#icon-refresh"></use></svg>
                </div>
                <div class="text">Free Returns In-Store</div>
            </div>
        </div>
        <div class="item">
            <div class="service-wrapper">
                <div class="icon">
                    <svg><use xlink:href="#icon-shield"></use></svg>
                </div>
                <div class="text">Secure Shopping Guarantee</div>
            </div>
        </div>
    </div>
</div>
{{/if}}

{{#if services '==' 'services-3'}}
<div class="themevale-section {{padding_top}} {{padding_bottom}} {{border-top}} {{custom}}">
    <div class="themevale_service {{#if padding_col}}padding-col{{/if}}"
        data-slick='{
            "dots": false,
            "arrows": false,
            "infinite": true,
            "slidesToShow": 1,
            "slidesToScroll": 1,
            "mobileFirst": true,
            "autoplay": true,
            "responsive": [
                {
                    "breakpoint": 1025,
                    "settings": "unslick"
                },
                {
                    "breakpoint": 552,
                    "settings": {
                        "slidesToShow": 2,
                        "slidesToScroll": 1
                    }
                }
            ]
        }'>
        <div class="item">
            <div class="service-wrapper">
                <div class="text">Sale up to 40% off on selected items</div>
            </div>
        </div>
        <div class="item">
            <div class="service-wrapper">
                <div class="text">Free express shipping on all orders</div>
            </div>
        </div>
        <div class="item">
            <div class="service-wrapper">
                <div class="text">Student discount 40% off everything</div>
            </div>
        </div>
    </div>
</div>
{{/if}}

{{#if services '==' 'services-4'}}
<div class="themevale-section {{padding_top}} {{padding_bottom}} {{border-top}}">
    <div class="container">
        <div class="themevale_service_slider {{#if padding_col}}padding-col{{/if}}">
            <div class="item">
                <div class="service-wrapper">
                    <i class="icon"><svg><use xlink:href="#icon-truck"></use></svg></i>
                    <h3 class="title">Worldwide Delivery</h3>
                    <p class="text">Metus tellus multricies a quam sit amet lorem diam libero de cosmopolis.</p>
                </div>
            </div>
            <div class="item">
                <div class="service-wrapper">
                    <i class="icon"><svg><use xlink:href="#icon-credit-card"></use></svg></i>
                    <h3 class="title">Secure Shopping</h3>
                    <p class="text">Metus tellus multricies a quam sit amet lorem diam libero de cosmopolis.</p>
                </div>
            </div>
            <div class="item">
                <div class="service-wrapper">
                    <i class="icon"><svg><use xlink:href="#icon-shield"></use></svg></i>
                    <h3 class="title">Shop with Confidence</h3>
                    <p class="text">Metus tellus multricies a quam sit amet lorem diam libero de cosmopolis.</p>
                </div>
            </div>
            <div class="item">
                <div class="service-wrapper">
                    <i class="icon"><svg><use xlink:href="#icon-support"></use></svg></i>
                    <h3 class="title">Help Center</h3>
                    <p class="text">Metus tellus multricies a quam sit amet lorem diam libero de cosmopolis.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{{/if}}
