<div id="halo-fbt" class="border-top" style="display: none;">
    <div class="loadingOverlay"></div>
    <h2 class="page-heading no-border">Frequently Bought Together</h2>
    <div class="themvale-fbt-image-list">
        <div class="themvale-fbt-image-item {{#if product.can_purchase}}isChecked{{/if}}" data-product-id="{{product.id}}">
            <a class="themvale-fbt-image-link" href="#">
	      	<img class="themvale-fbt-image lazyautosizes lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="{{getImage product.main_image 'productgallery_size' (cdn theme_settings.default_image_product)}}" alt="{{product.alt}}" title="{{product.alt}}" sizes="50px">
	      </a>
        </div>
    </div>
    <p class="themvale-fbt-text">Please choose options for all selected products</p>
    <div class="themvale-fbt-product-list">
        <div class="themvale-fbt-product-item {{#if product.can_purchase}}isChecked{{/if}} " data-product-id="{{product.id}}">
            <form method="post" action="/cart.php" enctype="multipart/form-data">
                <input type="hidden" name="action" value="add">
                <input type="hidden" name="product_id" value="{{product.id}}">
                <input type="hidden" name="qty[]" value="1">
                <div class="themvale-fbt-detail-field">
                    <input class="themvale-fbt-detail-checkbox form-checkbox" type="checkbox" id="fbt_product{{product.id}}" checked disabled>
                    <label class="themvale-fbt-detail-label form-label" for="fbt_product{{product.id}}">
                        <span class="themvale-fbt-detail-name"><strong>This Item:</strong> {{product.title}}</span>
                        {{> components/products/price price=product.price schema_org=schema}}
                    </label>
                </div>
                {{#if product.options}}
                <div class="themvale-fbt-toggle-options">Choose Options</div>
                <div class="themvale-fbt-detail-options" data-fbt-option-change>
                    {{#each product.options}}
                    {{{dynamicComponent 'components/themevale/options'}}}
                    {{/each}}
                </div>
                {{/if}}
            </form>
        </div>
    </div>
</div>
