<div class="previewCart">
    {{#if cart.items.length}}
        <table class="previewCartTable">
            <tbody class="previewCartList">
                {{#each cart.items}}
                    <tr class="previewCartItem">
                        <td class="previewCartItem-block previewCartItem-image">
                            {{#if type '==' 'GiftCertificate'}}
                                <img class="lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="{{cdn ../../theme_settings.default_image_gift_certificate}}" alt="GiftCertificate" title="GiftCertificate">
                            {{else}}
                                <img class="lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="{{getImage image 'productthumb_size' (cdn ../../theme_settings.default_image_product)}}" alt="{{image.alt}}" title="{{image.alt}}">
                            {{/if}}
                        </td>
                        <td class="previewCartItem-block previewCartItem-content">
                            {{#if brand.name}}
                            <span class="previewCartItem-brand">
                                {{brand.name}}
                            </span>
                            {{/if}}

                            <h6 class="previewCartItem-name">
                                <a href="{{url}}" alt="{{name}}" title="{{name}}">{{name}}</a>
                            </h6>
                            <div class="previewCartItem-pricewrapper">
                                <span class="previewCartItem-price">
                                    {{#or ../customer (if ../theme_settings.restrict_to_login '!==' true)}}
                                        {{price.formatted}}
                                    {{else}}
                                        {{> components/common/login-for-pricing}}
                                    {{/or}}
                                </span>
                                <span class="previewCartItem-quantity"> {{quantity}}</span>
                            </div>
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
        <div class="preview-cart-total">
            <div class="cart-total-label">
                {{lang 'cart.checkout.subtotal'}}:
            </div>
            <div class="cart-total-value">
                {{cart.sub_total.formatted}}
            </div>
        </div>
        <div class="preview-cart-grand-total">
             <div class="cart-total-label">
                {{lang 'cart.checkout.grand_total'}}:
            </div>
            <div class="cart-total-value cart-total-grandTotal">
                {{cart.grand_total.formatted}}
            </div>
        </div>
        <div class="previewCartAction">
            <div class="button-wrapper">
                <div class="previewCartAction-viewCart{{#unless cart.show_primary_checkout_button}} previewCartAction-viewCart--sole{{/unless}}">
                    <a href="{{urls.cart}}" class="button button--small button--border">
                        {{lang 'cart.preview.view_cart'}}
                    </a>
                </div>
                {{#if cart.show_primary_checkout_button}}
                    <div class="previewCartAction-checkout">
                        <a href="{{urls.checkout.single_address}}" class="button button--small button--primary">
                            {{lang 'cart.preview.checkout_now'}}
                        </a>
                    </div>
                {{/if}}
            </div>

            {{#if cart.show_multiple_address_shipping}}
                <div class="previewCartAction-checkoutMultiple">
                    <a href="{{urls.checkout.multiple_address}}">
                        {{lang 'cart.preview.checkout_multiple'}}
                    </a>
                </div>
            {{/if}}
        </div>
    {{else}}
        <div class="previewCart-emptyBody">
            {{lang 'cart.checkout.empty_cart'}}
        </div>
    {{/if}}
</div>
