{{#if theme_settings.footer-layout-1}}
    {{> components/themevale/footer/footer-layout-1}}
{{/if}}
{{#if theme_settings.footer-layout-2}}
    {{> components/themevale/footer/footer-layout-2}}
{{/if}}
{{#if theme_settings.footer-layout-3}}
    {{> components/themevale/footer/footer-layout-3}}
{{/if}}
{{#if theme_settings.footer-layout-4}}
    {{> components/themevale/footer/footer-layout-4}}
{{/if}}
{{#if theme_settings.footer-layout-5}}
    {{> components/themevale/footer/footer-layout-5}}
{{/if}}
{{#if theme_settings.footer-layout-6}}
    {{> components/themevale/footer/footer-layout-6}}
{{/if}}
{{#if theme_settings.footer-layout-7}}
    {{> components/themevale/footer/footer-layout-7}}
{{/if}}
{{#if theme_settings.themevale_BackTop}}
    <div id="back-to-top">
        <a href="javascript:void(0)">to top<svg class="icon"><use xlink:href="#icon-keyboard-arrow-down"></use></svg></a>
    </div>
{{/if}}
