<div class="navPages-container" id="menuVertical" data-menu>
    <nav class="navPages">
        <ul class="navPages-list navPages-list-depth-max">
            {{#each categories}}
                <li class="navPages-item">
                    {{> components/common/navigation-list-alternate}}
                </li>
            {{/each}}
            {{#unless theme_settings.hide_content_navigation}}
                {{#each pages}}
                    <li class="navPages-item navPages-item-page">
                        {{> components/common/navigation-list-alternate}}
                    </li>
                 {{/each}}
            {{/unless}}
        </ul>
        <ul class="navPages-list navPages-list--user">
            <li class="navPages-item">
                {{> components/common/social-links}}
            </li>
            <li class="navPages-item">
                <p class="text">Secure Shopping Guarantee</p>
                <div class="group-button group-button-download">
                    <a href="#"><img class="lazyload" src="{{cdn 'img/loading.svg'}}" data-src="https://cdn11.bigcommerce.com/s-3tntjfynbx/product_images/uploaded_images/appstore.png" alt="appstore"></a>
                    <a href="#"><img class="lazyload" src="{{cdn 'img/loading.svg'}}" data-src="https://cdn11.bigcommerce.com/s-3tntjfynbx/product_images/uploaded_images/googleplay.png" alt="googleplay"></a>
                </div>
            </li>
        </ul>
    </nav>
</div>
