{{#with theme_settings}}
    {{#or show_accept_amex show_accept_discover show_accept_mastercard show_accept_paypal show_accept_visa show_accept_sage show_accept_wallet}}
        <div class="footer-payment-image">
            <img class="lazyload" src="{{cdn 'img/loading.svg'}}" data-src="{{cdn '/assets/img/home/stamped.png'}}" alt="stamped">
            {{#if show_accept_visa}}
                <img class="lazyload" src="{{cdn 'img/loading.svg'}}" data-src="https://cdn11.bigcommerce.com/s-3tntjfynbx/product_images/uploaded_images/payment-1.png" alt="payment-1">
            {{/if}}
            {{#if show_accept_mastercard}}
                <img class="lazyload" src="{{cdn 'img/loading.svg'}}" data-src="https://cdn11.bigcommerce.com/s-3tntjfynbx/product_images/uploaded_images/payment-2.png" alt="payment-2">
            {{/if}}
            {{#if show_accept_amex}}
                <img class="lazyload" src="{{cdn 'img/loading.svg'}}" data-src="https://cdn11.bigcommerce.com/s-3tntjfynbx/product_images/uploaded_images/payment-3.png" alt="payment-3">
            {{/if}}
            {{#if show_accept_discover}}
                <img class="lazyload" src="{{cdn 'img/loading.svg'}}" data-src="https://cdn11.bigcommerce.com/s-3tntjfynbx/product_images/uploaded_images/payment-4.png" alt="payment-4">
            {{/if}}
            {{#if show_accept_sage}}
                <img class="lazyload" src="{{cdn 'img/loading.svg'}}" data-src="https://cdn11.bigcommerce.com/s-3tntjfynbx/product_images/uploaded_images/payment-8.png" alt="payment-8">
            {{/if}}
            {{#if show_accept_paypal}}
                <img class="lazyload" src="{{cdn 'img/loading.svg'}}" data-src="https://cdn11.bigcommerce.com/s-3tntjfynbx/product_images/uploaded_images/payment-5.png" alt="payment-5">
            {{/if}}
            {{#if show_accept_wallet}}
                <img class="lazyload" src="{{cdn 'img/loading.svg'}}" data-src="https://cdn11.bigcommerce.com/s-3tntjfynbx/product_images/uploaded_images/payment-9.png" alt="payment-9">
            {{/if}}
        </div>
    {{/or}}
{{/with}}
