<div class="navUser-wrapper">

	<div class="navUser-item navUser-item--cart themevale_cart">
        <a class="navUser-action"
            data-cart-preview
            data-options="align:right"
            href="{{urls.cart}}">
            <div class="navUser-icon navUser-item-cartIcon">
                <svg class="icon"><use xlink:href="#icon-cart"></use></svg>
            </div>
            <span class="countPill{{#if cart.items}} countPill--positive{{/if}} cart-quantity">{{#if cart.items}}{{cart.quantity}}{{else}}0{{/if}}</span>
        </a>
        <div class="dropdown-cart" id="cart-preview-dropdown-2" aria-hidden="true"></div>
    </div>
</div>
