---
blog:
    posts:
        limit: 5
        pages: 3
        summary: 380
    recent_posts:
        limit: 3
products:
    featured:
        limit: 6
---
{{#partial "page"}}


<div class="themevale_breadcrumb">
    {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
    <h1 class="page-heading">{{ blog.name }}</h1>
</div>

<div class="blog-banner">
	<img src="{{cdn '/assets/img/blog-banner.png'}}" />
</div>


<div class="page" style="border-top: 2px solid #d5d5d5;width: 80%;margin: 0 auto">
    <main class="page-content" id="blog-listing-container">
        <div class="themevale_sidebar-mobile-wrapper">
            <div class="item item-iconSidebar text-left">
                <div class="themevale_sidebar-mobile">
                    <span class='text'>sidebar:</span>
                    <svg class="icon"><use xlink:href='#sidebar'></use></svg>
                </div>
            </div>
        </div>
        {{#each blog.posts}}
            {{> components/blog/post post=this settings=../settings}}
        {{/each}}

        {{> components/common/paginator pagination.blog}}
    </main>
    <aside class="page-sidebar" style="background:#f6f6f6">
        {{> components/blog/sidebar}}
    </aside>
</div>

{{/partial}}
{{> layout/base}}
