{{#partial "page"}}
<div class="themevale_breadcrumb">
    {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
    {{> components/cart/page-title}}
</div>
<div class="page">
    <main class="page-content" data-cart>
        <div data-cart-status>
            {{> components/cart/status-messages}}
        </div>
        {{#if cart.items.length}}
            <div class="loadingOverlay"></div>
            <div data-cart-content>
                {{> components/cart/content}}
            </div>
            <div class="data-cart-totals-wrapper">
                <div class="data-cart-totals">
                    <div data-cart-totals>
                        {{> components/cart/totals}}
                    </div>
                    {{#if cart.show_primary_checkout_button}}
                        <div class="cart-actions">
                            <a class="button button--primary" href="{{urls.checkout.single_address}}" title="{{lang 'cart.checkout.title'}}">{{lang 'cart.checkout.button'}}</a>
                            {{#if cart.show_multiple_address_shipping}}
                                <a class="checkoutMultiple" href="{{urls.checkout.multiple_address}}">
                                    {{lang 'cart.preview.checkout_multiple'}}
                                </a>
                            {{/if}}
                        </div>
                    {{else}}
                        <div class="cart-actions">
                            <a class="button" href="{{urls.home}}" title="{{lang 'cart.continue_shopping'}}">{{lang 'cart.continue_shopping'}}</a>
                        </div>
                    {{/if}}
                    {{#if cart.additional_checkout_buttons}}
                        <div class="cart-additionalCheckoutButtons">
                            {{#each cart.additional_checkout_buttons}}
                                {{{this}}}
                            {{/each}}
                        </div>
                    {{/if}}
                </div>
                <div class="secure-shopping">
                   <!-- <h4 class="title">Secure shopping guarantee</h4>
                    <ul class="list-logo">
                        <li><img class="lazyload" src="{{cdn 'img/loading.svg'}}" data-src="https://cdn11.bigcommerce.com/s-3tntjfynbx/product_images/uploaded_images/security-1.png"></li>
                        <li><img class="lazyload" src="{{cdn 'img/loading.svg'}}" data-src="https://cdn11.bigcommerce.com/s-3tntjfynbx/product_images/uploaded_images/security-2.png"></li>
                        <li><img class="lazyload" src="{{cdn 'img/loading.svg'}}" data-src="https://cdn11.bigcommerce.com/s-3tntjfynbx/product_images/uploaded_images/security-3.png"></li>
                        <li><img class="lazyload" src="{{cdn 'img/loading.svg'}}" data-src="https://cdn11.bigcommerce.com/s-3tntjfynbx/product_images/uploaded_images/security-4.png"></li>
                    </ul>-->
					
					{{assignVar 'continue_url' ' '}}
					{{#each cart.items }}
						{{#filter custom_fields 'Source' property='name' }}
							{{assignVar 'continue_url' value }}
						{{/filter}}
					{{/each}}
					<a class="view-cart-continue" href="/{{getVar 'continue_url' }}">Continue Shopping</a>
                </div>
            </div>
        {{else}}
            <h3>{{lang 'cart.checkout.empty_cart'}}</h3>
        {{/if}}
        {{{snippet 'cart'}}}
    </main>
</div>
{{/partial}}
{{> layout/base}}
