{{#partial "page"}}
{{inject 'comparisons' comparisons}}
{{inject 'compareRemoveMessage' (lang 'compare.no_remove')}}
<div class="themevale_breadcrumb">
    {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
    <h1 class="page-heading">{{lang 'compare.header' products=comparisons.length}}</h1>
</div>
<div class="page">
    <table class="compareTable">
        <thead>
            <tr class="compareTable-row">
                <th class="compareTable-heading">
                    <span class="compareTable-headingText">Product</span>
                </th>
                <th class="compareTable-heading">
                    <span class="compareTable-headingText">Description</span>
                </th>
                <th class="compareTable-heading text-center">
                    <span class="compareTable-headingText">Rating</span>
                </th>
                <th class="compareTable-heading text-center">
                    <span class="compareTable-headingText">Availability</span>
                </th>
                <th class="compareTable-heading">
                    <span class="compareTable-headingText">{{lang 'common.other_details'}}</span>
                </th>
            </tr>
        </thead>
        <tbody>
            {{#each comparisons}}
            <tr class="compareTable-row">
                <td class="compareTable-product">
                    <article class="card">
                        <figure class="card-figure">
                            <div class="card-img-container">
                                <img class="card-image lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="{{getImage image 'product_size' (cdn theme_settings.default_image_product)}}" alt="{{image.alt}}" title="{{image.alt}}">
                            </div>
                            <a class="compareTable-removeProduct" data-comparison-remove href="{{#if remove_url}}{{remove_url}}{{else}}#{{/if}}">
                                <svg class="icon">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-close"></use>
                                </svg>
                            </a>
                        </figure>
                        <div class="card-body">
                            {{#if brand.name}}
                                <p class="card-brand" data-test-info-type="brandName">{{brand.name}}</p>
                            {{/if}}
                            <h4 class="card-title">
                                <a href="{{url}}">{{name}}</a>
                            </h4>
                            <div class="price-wrapper">
                                <div class="card-price" data-test-info-type="price">
                                    {{#or customer (if theme_settings.restrict_to_login '!==' true)}}
                                        {{> components/products/price price=price}}
                                    {{else}}
                                        {{> components/common/login-for-pricing}}
                                    {{/or}}
                                </div>
                            </div>
                            <div class="card-figcaption-group">
                                {{#or ../customer (if ../theme_settings.restrict_to_login '!==' true)}}
                                    {{#if show_cart_action}}
                                        {{#if has_options}}
                                            <a href="{{url}}" class="button card-figcaption-button" data-product-id="{{id}}">
                                                <span>{{lang 'products.choose_options'}}</span>
                                            </a>
                                        {{/if}}
                                        {{#if pre_order}}
                                            <a href="{{pre_order_add_to_cart_url}}" class="button card-figcaption-button">
                                                <span>{{lang 'products.pre_order'}}</span>
                                            </a>
                                        {{/if}}
                                        {{#if add_to_cart_url }}
                                            <a href="{{add_to_cart_url}}" class="button card-figcaption-button">
                                                <span>{{lang 'products.add_to_cart'}}</span>
                                            </a>
                                        {{/if}}
                                        {{#if out_of_stock_message }}
                                            <a href="{{url}}" class="button card-figcaption-button" data-product-id="{{id}}">
                                                <span>{{out_of_stock_message}}</span>
                                            </a>
                                        {{/if}}
                                    {{/if}}
                                {{/or}}
                            </div>
                        </div>
                    </article>
                </td>
                <td class="compareTable-item">{{ summary }}</td>
                <td class="compareTable-item text-center">
                    {{#if rating}}
                        {{> components/products/ratings rating=rating}}
                    {{else}}
                        No Reviews
                    {{/if}}
                </td>
                <td class="compareTable-item text-center">
                    {{#if availability}}
                        {{ availability }}
                    {{else}}
                        {{lang 'common.not_applicable'}}
                    {{/if}}
                </td>
                <td class="compareTable-item">
                    {{#if custom_fields}}
                        <ul>
                            {{#each custom_fields}}
                                <li>{{name}}: {{{value}}}</li>
                            {{/each}}
                        </ul>
                    {{else}}
                        {{lang 'common.not_applicable'}}
                    {{/if}}
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

{{/partial}}
{{> layout/base}}
