@media (max-width: 1930px) {
    .footer-payment-image {
        width: 30%;
        text-align: left;
    }
    .footer-payment-image img:nth-child(5) {
        margin-left: 5px !important;
    }
    div#shop-ad h2 {
        padding-top: 2%;
    }
    .shop-ad-row {
        width: 60%;
    }
    .themevale_header-middle .container {
        width: 65%;
    }
}

@media (max-width: 1755px) {
    .themevale_header-middle .container {
        width: 75%;
    }
}

@media (max-width: 1625px) {
    .footer-payment-image {
        width: 33%;
    }
}

@media (max-width: 1550px) {
    div#shop-ad h2 {
        padding-top: 5%;
    }
    .shop-ad-row {
        width: 75%;
    }
    .themevale_header-middle .container {
        width: 85%;
    }
}

@media (max-width: 1477px) {
    .footer-payment-image {
        width: 37%;
    }
    .shop-ad-row {
        width: 80%;
    }
    .referral-two-cols .left-ul {
        width: 60%;
        flex: 0 0 60%;
    }
    .referral-two-cols .right-refferal {
        width: 30%;
        flex: 0 0 30%;
    }
}

@media (max-width: 1420px) {
    .steps-main-div .steps-row.row {
        width: 90%;
        margin: 0 auto;
    }
    .row {
        margin: 0;
    }

}

@media (max-width: 1355px) {
    .themevale_header-middle .container {
        width: 95%;
    }
}

@media (max-width: 1317px) {
    .footer-payment-image {
        width: 35%;
    }
    .footer-payment-image img + img {
        margin-left: 5px;
    }
    div#shop-ad h2 {
        padding-top: 5%;
    }
    .navPages .navPages-item {
        margin-right: 15px;
    }
}

@media (max-width: 1230px) {
    .steps-img img {
        width: 85%;
    }
}

@media (max-width: 1100px) {
    .navPages .navPages-item>.navPages-action {
        font-size: 13px;
    }
} 

@media (max-width: 1110px) {
    .footer-payment-image {
        margin-top: -15%;
    }
    .column-5 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .home-ads-list-custom .custom-boot-row .ad-bg {
        margin-bottom: 2%;
    }
    .home-ads-list-custom .custom-boot-row .ad-bg {
        margin-bottom: 2%;
        height: 430px;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .ad-button {
        bottom: 5%;
    }
    .column-2 {
        flex: 0 0 100%;
        max-width: 100%;
        padding: 0 !important;
        margin-top: 2%;
        margin-bottom: 2% !important;
    }
    div#shop-ad {
        background: #fefade;
        height: auto;
    }
    div#shop-ad h2 br {
        display: none;
    }
    .shop-ad-row {
        width: 30%;
    }
    div#shop-ad .ad-button {
        position: relative;
    }
    .navPages .navPages-item>.navPages-action {
        font-size: 13px;
    }
}

@media (max-width: 1038px) {
    .girl-banner-content p br {
        display: none;
    }
    .girl-banner-content p {
        text-align: center;
    }
    .girl-banner-content h2 {
        text-align: center;
    }
    .sponsorship-banner-bg {
        background-image: url('https://cdn11.bigcommerce.com/s-zlze5h6hq9/product_images/uploaded_images/swim-bg.jpg?t=1593138065&_ga=2.183291360.796758591.1592785354-1335674609.1584404257');
        background-size: cover;
        background-position: center;
        padding: 3% 0;
        display: block;
        padding-bottom: 10%;
    }
    .sponsorship-content h3, .sponsorship-content h2, .sponsorship-content p {
        margin: 0;
    }
    .sponsorship-content h3 {
        font-family: 'Montserrat', sans-serif;
        font-size: 30px;
        font-weight: 800;
        color: #fff;
        padding-bottom: 20px;
    }
    .sponsorship-content h2 {
        font-family: 'Montserrat', sans-serif;
        font-size: 45px;
        font-weight: 800;
        color: #5ff1ff;
        text-transform: uppercase;
        padding-bottom: 20px;
    }
    .sponsorship-content p {
        color: #fff;
        font-size: 17px;
        line-height: 1.5;
    }
    .sponsorship-content {
        width: 80%;
        margin: 0 auto;
        padding: 5% 0;
    }
    .sponsorship-banner, .dp-banner, .kp-banner {
        display: none;
    }
    div#dawn-patrol-banner {
        background-image: url('https://cdn11.bigcommerce.com/s-zlze5h6hq9/product_images/uploaded_images/dawn-bg.jpg?t=1593140639&_ga=2.212574546.796758591.1592785354-1335674609.1584404257');
        padding: 10% 0;
    }
    div#dawn-patrol-content {
        padding: 0;
    }
    div#dawn-patrol-content h2 {
        color: #fff;
        text-align: center;
        padding-bottom: 150px;
    }
    div#dawn-patrol-content p {
        text-align: center;
    }
    div#plastic-banner {
        background-image: url('https://cdn11.bigcommerce.com/s-zlze5h6hq9/product_images/uploaded_images/plastic-bg.jpg?t=1593143039&_ga=2.191073900.796758591.1592785354-1335674609.1584404257');
    }
    div#plastic-content {
        display: flex;
        align-items: center;
    }
    .plastic-left, .plastic-right {
        width: 50%;
    }
    .plastic-left h2 {
        font-size: 40px;
        color: #fff;
    }
    .plastic-left h3 {
        font-weight: 400;
        font-size: 25px;
    }
    .plastic-right p {
        text-align: center;
        font-size: 17px;
    }
    div#bean-bucks-banner-bg {
        padding: 5% 0;
        text-align: center;
        background: url('https://cdn11.bigcommerce.com/s-zlze5h6hq9/product_images/uploaded_images/bean-bg.jpg?t=1593149413&_ga=2.178569954.796758591.1592785354-1335674609.1584404257');
        background-size: cover;
    }
    div#bean-bucks-content h2 {
        color: #e45943;
        padding-bottom: 0 !important
    }
    div#bean-bucks-content p {
        color: #24474a;
    }
    .rp-banner {
        display: none;
    }
    div#christopher-wholesale-content p {
        color: #222222;
    }
    div#christopher-wholesale-content {
        text-align: center;
    }
    div#christopher-wholesale-content h2 {
        color: #421b00;
    }
    div#christopher-wholesale-banner {
        background-image: url('https://cdn11.bigcommerce.com/s-zlze5h6hq9/product_images/uploaded_images/wholesale-bg.jpg?t=1593150344&_ga=2.89949917.796758591.1592785354-1335674609.1584404257');
        padding-bottom: 10%;
        background-size: cover;
        background-position: bottom;
    }
    .themevale_header-Mobile {
        height: 75px;
    }
    .themevale_header-Mobile .header-Mobile-item .header-logo-image {
        max-height: 65px;
    }
    .themevale_searchSticky {
        max-width: 100%;
    }
    .themevale_header-Mobile .header-Mobile-item .navUser-action .navUser-icon strong {
        padding: 0 8px;
    }
    .smile-launcher-frame-container.smile-launcher-border-radius-circular.smile-launcher-image-only.smile-launcher-closed.smile-launcher-animate {
        bottom: 95px !important;
    }
    main#account-page-main nav.navBar.navBar--sub {
        display: none;
    }
    .items.item--cart.themevale_cart {
        margin-left: 20px !important;
    }
    .referral-two-cols .left-ul ul {
        margin-left: 2% !important;
    }
    .referral-two-cols {
        display: block;
    }
    .referral-two-cols .left-ul, .referral-two-cols .right-refferal {
        width: 100%;
        flex: 0 0 100%;
    }
    .referral-step-img {
        width: 90%;
        margin: 0 auto;
    }
    .modalz {
        z-index: 9999999999999999 !important;
    }
    .modal-contentz {
        width: 50%;
    }
    div#bean-bucks-banner {
        height: 435px;
    }
    .referrals-row.row {
        width: 95%;
    }
    .point-img {
        width: 75%;
    }
    ul#customFeature {
        column-count: 2 !important;
    }
    div#step4-floating {
        left: 7%;
    }
    #step3 {
        padding-top: 10%;
        padding-bottom: 10%;
    }
    div#subscription-system .orange-bg-content {
        width: 80%;
    }
    div#subscription-system .orange-bg-content h3 br {
        display: none !important;
    }
    div#list-align {
        width: 95%;
    }
}

@media (max-width: 1024px) {
    .footer-payment-image {
        margin-top: -20%;
    }
    aside.page-sidebar {
        display: none;
    }
    body.page-type-category div#grid-list-layout main#product-listing-container {
        width: 90%;
    }
    .page-sidebar + .page-content {
        width: 100%;
        padding-right: 15px;
        padding-top: 15px;
    }
    #menuMobile .navPages-item > .navPages-action {
        text-align: left;
    }
    main#blog-listing-container {
        width: 100%;
    }
    main#blog-listing-container .themevale_sidebar-mobile-wrapper {
        display: none;
    }
    .items.item--cart.themevale_cart {
        margin-left: 20px;
    }
}

@media (max-width: 876px) {
    .sponsorship-content h2 br {
        display: none;
    }
    .sponsorship-content h2 {
        font-size: 35px;
    }
    .plastic-right p br {
        display: none;
    }
    div#plastic-content {
        width: 90%;
    }
    .smile-launcher-frame-container.smile-launcher-border-radius-circular.smile-launcher-image-only.smile-launcher-closed.smile-launcher-animate {
        bottom: 0 !important;
        right: 15% !important;
        margin-bottom: 10px !important;
    }
    .home-btn-shop {
        font-size: 10px;
    }
    section.account-content {
        width: 100%;
    }
    .account-content.account-content--fixedSmall {
        width: 100%;
    }
    .account-content--fixedSmall + .account-sidebar {
        float: unset;
        width: 100% !important;
    }
    .account-content--fixedSmall + .account-sidebar {
        float: unset;
        width: 100% !important;
    }
    .account-orderTotal {
        float: unset;
        width: 100%;
    }
    aside.account-sidebar {
        padding: 0;
    }
    #stamped-reviews-widget[data-widget-type="carousel"] {
        max-width: 90% !important;
    }
    .right-refferal {
        display: none;
    }
    .mobile-view-steps {
        display: block;
        text-align: center;
    }
    .account.gift_certificate-page {
        width: 80%;
    }
    .list-referral-content br {
        display: none;
    }
    .col-12.steps-row-img {
        display: block;
    }
    img#hideMobileSteps {
        display: none;
    }
    .steps-row.row h3 {
        display: block;
    }
    ul#customFeature {
        column-count: 1 !important;
    }
    .page-banner-heading h2 br {
        display: none;
    }
    .steps-row {
        display: block;
    }
    .step-content {
        max-width: 100%;
        flex: 0 0 100%;
        padding-top: 5%;
        padding-bottom: 5%;
    }
    .step-overlay{
        transform: translate(-50%, -50%);
    }
    .step-content img {
        width: 40%;
    }
    .step-content .step-overlay img {
        width: 50%;
    }
    div#step2 .step-content, div#step3 .step-content:last-child {
        text-align: center;
    }
    div#step4 {
        height: auto;
        padding-bottom: 10%;
    }
    div#step4-floating {
        position: relative;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        transform: unset;
        padding-bottom: 3%;
    }
    div#step4-floating img {
        width: 30%;
    }
    #step4 .step-content:nth-child(2) {
        display: none !important;
    }
    div#list-align {
        width: 95%;
        margin: 0 auto !important;
        padding-top: 0;
        justify-content: center;
    }
    
}

@media (max-width: 770px) {
    .footer-payment-image {
        margin-top: 0;
        margin: 0 auto;
        text-align: center;
        width: 50%;
    }
    .footer-info-col.social-media {
        padding: 0;
        padding-left: 0 !important;
        margin-bottom: 1.5rem;
    }
    .smile-launcher-frame-container.smile-launcher-border-radius-circular.smile-launcher-image-only.smile-launcher-closed.smile-launcher-animate {
        margin-bottom: 0 !important;
        bottom: 40px !important;
    }
    .address {
        width: 100%;
        margin: 0 auto;
    }
    .page-banner-heading h2 {
        font-size: 40px;
    }
}

@media (max-width: 768px) {
    .page main#product-listing-container .parent-product-view .themevale_productView-left {
        position: relative;
    }
    div#bean-bucks-banner {
        height: 350px;
    }
    div#bean-bucks-banner h2 {
        font-size: 30px;
    }
    div#bean-bucks-banner h3 {
        font-size: 20px;
    }
    .referrals-row.row .referral-p p br {
        display: none;
    }
    .referrals-shots.col-md-6.col-sm-6.col-xs-12 {
        max-width: 100%;
        flex: 0 0 100%;
        padding-bottom: 6%;
    }
}

@media (max-width: 750px) {
    .shop-ad-row {
        width: 50%;
    }
    .smile-launcher-frame-container.smile-launcher-border-radius-circular.smile-launcher-image-only.smile-launcher-closed.smile-launcher-animate {
        bottom: 70px !important;
    }
    div#back-to-top {
        bottom: 150px;
    }
    .smile-launcher-frame-container.smile-launcher-border-radius-circular.smile-launcher-image-only.smile-launcher-closed.smile-launcher-animate {
        bottom: 10px !important;
    }
}

@media (max-width: 669px) {
    .page-banner-heading h2 {
        font-size: 25px;
    }
    .page-banner-heading h4 {
        font-size: 18px;
    }
    .page-banner-heading p {
        font-size: 18px;
    }
    .page-banner-bg {
        height: 250px;
    }
}

@media (max-width: 650px) {
    #stamped-reviews-widget[data-widget-type="carousel"] {
        width: 100%;
    }
    #stamped-reviews-widget[data-widget-type="carousel"] .stamped-carousel-buttons {
        float: unset;
        margin: 0 auto;
    }
    #stamped-reviews-widget[data-widget-type="carousel"] .stamped-carousel-scroll .stamped-reviews-rating {
        display: flex;
        justify-content: flex-start;
        margin-left: 0 !important;
    }
    .home-reviews #stamped-reviews-widget[data-widget-type="carousel"] .stamped-carousel-scroll .stamped-reviews-message {
        margin-left: 0 !important;
        padding-right: 0 !important;
        padding-top: 4% !important;
    }
    .home-reviews div {
        margin: 0 !important;
    }
    #stamped-reviews-widget[data-widget-type="carousel"] .stamped-carousel-scroll .stamped-reviews-author {
        margin-left: 0 !important;
        padding-top: 2% !important;
    }
    .sponsorship-content p br {
        display: none;
    }
    .sponsorship-content h2 {
        font-size: 27px;
    }
    div#plastic-banner {
        padding: 10% 0;
    }
    div#plastic-content {
        display: block;
        width: 90%;
        margin: 0 auto;
        text-align: center;
    }
    .plastic-left, .plastic-right {
        width: 100%;
    }
    .referral-img {
        width: 95%;
    }
    .referral-steps-head h3 {
        margin-bottom: 7%;
    }
    div#certificate-theme-row .form-field.form-field-group {
        display: block;
    }
    div#amount-row fieldset.form-fieldset.form-column.form-fieldset-column-full {
        width: 100%;
        padding-left: 0;
    }
    .account.gift_certificate-page .form-actions {
        display: block;
    }
}

@media (max-width: 550px) {
    body.page-type-category div#grid-list-layout main#product-listing-container {
        width: 95%;
    }
    #back-to-top {
        right: 2vh;
    }
    div#bean-bucks-banner {
        height: 250px;
    }
    div#bean-bucks-banner div#bean-bucks-page-content {
        left: 50%;
    }
    div#bean-bucks-banner h4, div#bean-bucks-banner h2, div#bean-bucks-banner h3 {
        color: #fff;
        text-shadow: 2px 2px rgba(0,0,0,0.5);
    }
    div#bean-bucks-titles h2 {
        font-size: 35px;
    }
    .reward-footer div#bean-bucks-page-content h2 {
        font-size: 35px;
    }
    .footer-reward-button a {
        font-size: 16px;
    }
    
}
@media (max-width: 450px) {
    main#blog-listing-container article.blog {
        width: 100%;
    }
    .modal-contentz {
        width: 80%;
    }
    .custom-buttons-add-to {
        display: block;
    }
    .form-action.cart-product-page-action {
        width: 100%!important;
        margin-left: 0!important;
        margin-top: 2%!important;
    }
    form.form.form-wishlist.form-action {
        width: 100%!important;
    }
    .custom-buttons-add-to a.btn-nope, .custom-buttons-add-to a.btn-subscribe {
        width: 100% !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    .custom-buttons-add-to a.btn-subscribe {
        padding-top: 5%;
        padding-bottom: 5%;
    }
    .productView-options .form-wishlist {
        position: unset !important;
    }
}
@media (max-width: 428px) {
    div#quickSearch {
        top: 135px !important;
    }
    .header-Mobile-item.text-right .items.item--account {
        width: 55%;
    }
    .items.item--searchMobile {
        margin-left: 15px !important;
    }
    .smile-launcher-frame-container.smile-launcher-border-radius-circular.smile-launcher-mobile.smile-launcher-closed.smile-launcher-animate {
        bottom: 80px !important;
        right: 10px !important;
    }
    .BeaconFabButtonFrame.fcy-aq5o10.e1b5xbr10 {
        right: 10px !important;
    }
    .account {
        width: 90%;
    }
    .account-product-figure {
        width: 90px;
    }
    .smile-launcher-frame-container.smile-launcher-border-radius-circular.smile-launcher-mobile.smile-launcher-closed.smile-launcher-animate {
        right: 10px !important;
        left: unset !important;
    }
    .home-news .form-prefixPostfix.wrap {
        width: 90%;
    }
    form.form.forgot-password-form {
        width: 75%;
    }
    .items.item--account {
        margin-right: 15px;
    }
    div#mobile-no-logged {
        margin-right: 0 !important;
    }
    .number-referral {
        margin-bottom: 5%;
        font-size: 35px;
    }
    .form-action.cart-product-page-action {
        width: 100% !important;
        margin-left: 0 !important;
        margin-top: 2% !important;
    }
    form.form.form-wishlist.form-action {
        width: 100% !important;
    }
    a#nope-once {
        margin-left: 0 !important;
    }
    a#yup-sub {
        margin-right: 0 !important;
    }
    .footer-reward-button a {
        font-size: 11px;
    }
}
@media (max-width: 400px) {
    div#shop-ad h2 {
        text-align: center;
    }
    form.form.forgot-password-form {
        width: 85%;
    }
    .home-news .form-prefixPostfix.wrap {
        width: 100%;
    }
}
@media (max-width: 395px) {
   
}
@media (max-width: 376px) {
    .home-top-seller div {
        width: 50%;
    }
    .home-prod-list div {
        width: 50%;
    }
    #stamped-reviews-widget[data-widget-type="carousel"] .stamped-carousel-buttons {
        float: unset !important;
        width: 100% !important;
    }
    #stamped-reviews-widget[data-widget-type="carousel"] {
        width: 100%;
    }
    #stamped-reviews-widget[data-widget-type="carousel"] .stamped-carousel-subtitle {
        float: unset;
    }
    .girl-banner-content h2 {
        text-align: center;
        font-size: 24px;
    }
    #stamped-reviews-widget[data-widget-type="carousel"] {
        width: 100%;
    }
    #stamped-reviews-widget[data-widget-type="carousel"] .stamped-carousel-buttons {
        float: unset;
        margin: 0 auto;
    }
    #stamped-reviews-widget[data-widget-type="carousel"] .stamped-carousel-scroll .stamped-reviews-rating {
        display: flex;
        justify-content: flex-start;
        margin-left: 0 !important;
    }
    .home-reviews #stamped-reviews-widget[data-widget-type="carousel"] .stamped-carousel-scroll .stamped-reviews-message {
        margin-left: 0 !important;
        padding-right: 0 !important;
        padding-top: 4% !important;
    }
    .home-reviews div {
        margin: 0 !important;
    }
    #stamped-reviews-widget[data-widget-type="carousel"] .stamped-carousel-scroll .stamped-reviews-author {
        margin-left: 0 !important;
        padding-top: 2% !important;
    }
    .sponsorship-content h2 {
        font-size: 23px;
    }
    div#dawn-patrol-content h2 {
        padding-bottom: 35px;
    }
    div#dawn-patrol-content {
        width: 90%;
    }
    .themevale_header-Mobile .header-Mobile-item .header-logo-image {
        max-height: 50px;
    }
    .themevale_header-Mobile .header-Mobile-item .navUser-action .navUser-icon strong {
        padding: 0 0px;
    }
    div#mobile-no-logged {
        margin-right: 0 !important;
    }
    div#referral-page-banner {
        height: 350px;
    }
}

@media (max-width: 365px) {
    .header-Mobile-item.text-right .items.item--account {
        width: 60%;
    }
    .account-product-body {
        width: 100%;
        margin: 0 auto;
    }
    div#mobile-no-logged {
        margin-right: 0 !important;
    }
    .custom-buttons-add-to {
        display: block;
    }
    a#nope-once, a#yup-sub {
        width: 100% !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}

@media (max-width: 340px) {
    .themevale_header-Mobile .header-Mobile-item .navUser-action .navUser-icon strong {
        font-size: 9px;
    }
    .themevale_header-Mobile .header-Mobile-item .navUser-action .navUser-icon svg.icon {
        width: 13px;
    }
    .mobileMenu-toggle {
        width: 24px;
        height: 24px;
    }
}
