// =============================================================================
// Stencil Checkout - Customize the Optimized Single-Page Checkout experience
// =============================================================================

// =============================================================================
//
// IMPORTANT DISCLAIMER
// Please do not nest elements within class selectors, and do not use class selectors other than those given below.
// Future support is guaranteed only if class selectors' structure and naming are left unchanged.
//
// =============================================================================

//
// Header Section
// Background, Logo Position
// -----------------------------------------------------------------------------

*:focus {
    outline: none;
    outline-color: transparent;
}

a {
    position: relative;
    text-decoration: none;
    transition: all 0.3s ease;
    &:hover,
    &:focus,
    &:active {
        outline: none;
        text-decoration: none;
        box-shadow: none;
    }
}

.optimizedCheckout-header {
    color: #232323;
    text-align: left;
    min-height: 0;
    border-bottom: none;
    background-size: cover;
    background-color: #f7f7f7;
    background-image: url(https://cdn11.bigcommerce.com/s-3tntjfynbx/product_images/uploaded_images/header-bg.jpg);
    .checkoutHeader-link img {
        max-height: 40px;
    }
    .checkoutHeader-content {
        margin-bottom: 0;
        padding: 65px 0 65px 0;
    }
    .checkoutHeader-heading {
        text-align: left;
        font-size: 36px;
        line-height: 1;
    }
}

//
// Primary and Secondary Headings
// Text Color & Typography
// .optimizedCheckout-headingPrimary styles top-level headings.
// .optimizedCheckout-headingSecondary styles certain lower-level elements, such as descriptions of cart items.
// -----------------------------------------------------------------------------

.optimizedCheckout-headingPrimary {
    font-weight: 600;
    font-family: stencilFontFamily("headings-font"), Arial, Helvetica, sans-serif;
    color: #232323;
}

.optimizedCheckout-headingSecondary {
    font-weight: 600;
    font-family: stencilFontFamily("headings-font"), Arial, Helvetica, sans-serif;
    color: #232323;
}

//
// Body
// Background & Shipping Method Overlay
// -----------------------------------------------------------------------------

body,
.ng-checkout-container {
    font-size: 12px;
    font-weight: 400;
    line-height: 22px;
    font-family: stencilFontFamily("body-font"), Arial, Helvetica, sans-serif;
    color: stencilColor('color-textBase');
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    color: #232323;
    font-family: stencilFontFamily("headings-font"), Arial, Helvetica, sans-serif;
}

p, ul, ol, dl {
    font-size: 12px;
    line-height: 22px;
    font-weight: 400;
    color: stencilColor('color-textBase');
}

.optimizedCheckout-overlay {
    min-height: 0;
    color: #232323;
    font-weight: 600;
    border-radius: 0;
    background-color: #fafafa;
    border-color: #fafafa;
    p {
        color: #232323;
    }
}

//
// Primary & Secondary Content
// Text Color & Typography
// .optimizedCheckout-contentPrimary styles body text in the Order Summary/Order Confirmation; drop-down-list items; and text that summarizes completed steps.
// .optimizedCheckout-contentSecondary styles check boxes' text labels, and lower-level text in the Order Summary.
// -----------------------------------------------------------------------------

.optimizedCheckout-contentPrimary {
    font-weight: 400;
    font-family: stencilFontFamily("body-font"), Arial, Helvetica, sans-serif;
    color: stencilColor('color-textBase');
}

.optimizedCheckout-contentSecondary {
    font-weight: 400;
    font-family: stencilFontFamily("body-font"), Arial, Helvetica, sans-serif;
    color: stencilColor('color-textBase');
}

//
// Primary Button
// Background & Border & Text Color & Typography
// Styles the CONTINUE button for each step, & the final confirmation button.
// -----------------------------------------------------------------------------

.optimizedCheckout-buttonPrimary {
    font-size: 12px;
    line-height: 20px;
    border-radius: 0;
    font-weight: 600;
    margin-bottom: 0;
    position: relative;
    text-align: center;
    white-space: nowrap;
    padding: 7px 15px;
    text-transform: uppercase;
    transition: all 0.3s ease;
    font-family: stencilFontFamily("headings-font"), Arial, Helvetica, sans-serif;
    color: #ffffff;
    border: 1px solid #232323;
    background-color: #232323;
    .icon, span {
        display: inline-block;
        vertical-align: middle;
        float: none;
        margin: 0;
    }
    &:hover, &:focus, &:active {
        color: #ffffff;
        border: 1px solid #232323;
        background-color: #232323;
        box-shadow: none;
        svg {
            fill: #ffffff;
        }
    }
    @media (min-width: 1025px) {
        &:hover, &:focus, &:active {
            color: #232323;
            border: 1px solid #232323;
            background-color: #ffffff;
            box-shadow: none;
            svg {
                fill: #232323;
            }
        }
    }
    &.is-loading {
        color: #232323;
        background-color: #232323;
    }
    &[disabled],
    &[disabled]:hover,
    &[disabled]:focus,
    &[disabled].is-active,
    &[disabled].active {
        opacity: 0.7;
        border: 1px solid #232323;
        background-color: #232323;
    }
    &[disabled].is-loading {
        opacity: 0.7;
        color: #232323;
        background-color: #232323;
    }
}

.button {
    &:hover, &:focus, &:active {
        box-shadow: none;
    }
    &.dropdown-toggle--select {
        min-height: 40px;
        padding: 10px 15px;
        line-height: 20px;
        border-radius: 0;
        font-family: stencilFontFamily("headings-font"), Arial, Helvetica, sans-serif;
    }
}


//
// Secondary Button
// Background & Border & Text Color & Typography
// Styles the EDIT button for each step.
// -----------------------------------------------------------------------------

.optimizedCheckout-buttonSecondary {
    padding: 0;
    border: none;
    color: #232323;
    font-size: 12px;
    line-height: 20px;
    font-weight: 500;
    text-transform: capitalize;
    background-color: transparent;
    box-shadow: none;
    text-decoration: underline;
    text-underline-position: under;
    &:hover, &:focus, &:active {
        box-shadow: none;
        border: none;
        color: #232323;
        background-color: transparent;
    }
    &[disabled],
    &[disabled]:hover,
    &[disabled]:focus,
    &[disabled].is-active,
    &[disabled].is-loading,
    &[disabled].active {
        color: #232323;
        border-color: none;
        background-color: transparent;
    }
}

//
// Order Summary (Mobile Drawer & Modal)
// Background Color
// -----------------------------------------------------------------------------

.optimizedCheckout-orderSummary {
    margin: 0;
    border-radius: 0px;
    border-color: #ebebeb;
    background-color: #ffffff;
    box-shadow: 0 1px 5px transparentize(#000000, 0.8);
    .cart-header {
        padding: 15px 20px 13px 20px;
        background-color: #fafafa;
        .cart-title {
            font-size: 13px;
            text-transform: uppercase;
        }
        .cart-header-link {
            color: #232323;
            font-weight: 500;
            text-transform: uppercase;
        }
    }
    .cart-section {
        padding: 20px;
        border-color: #ebebeb;
        .cart-section-heading {
            color: #232323;
            line-height: 1;
            font-size: 12px;
            margin-bottom: 20px;
        }
        .productList-item {
            margin-bottom: 30px;
            &:last-child {
                margin-bottom: 10px;
            }
        }
        .product {
            .product-figure {
                width: 90px;
                padding-right: 20px;
            }
            .product-body {
                padding: 0;
                width: calc(75% - 90px);
            }
            .product-title {
                font-size: 12px;
                font-weight: 400;
                color: #232323;
                line-height: 22px;
                margin-bottom: 10px;
                font-family: stencilFontFamily("headings-font"), Arial, Helvetica, sans-serif;
            }
            .product-options {
                font-size: 12px;
                line-height: 25px;
                color: stencilColor('color-textBase');
            }
            .product-price {
                font-size: 13px;
                font-weight: 600;
                color: #232323;
                font-family: stencilFontFamily("headings-font"), Arial, Helvetica, sans-serif;
            }
        }
        .productImage-giftCertificate {
            padding-top: 0;
        }
        .cart-priceItem {
            margin-bottom: 15px;
            .cart-priceItem-label {
                font-size: 12px;
                font-weight: 500;
                color: #232323;
                text-transform: capitalize;
            }
            .cart-priceItem-value {
                font-size: 13px;
                color: #232323;
                font-weight: 600;
            }
        }
        .redeemable-label {
            font-size: 13px;
            font-weight: 500;
            color: #232323;
            text-transform: capitalize;
        }
        .cart-priceItem--total {
            margin-bottom: 0;
            .cart-priceItem-label {
                font-size: 12px;
                color: #232323;
                font-weight: 600;
            }
            .cart-priceItem-value {
                font-size: 18px;
                color: #232323;
                font-weight: 600;
            }
        }
    }
    @media (max-width: 551px) {
        width: calc(100% - 30px);
        margin-top: 15px !important;
    }
}

.form-prefixPostfix {
    .button {
        height: auto;
        color: #ffffff;
        font-weight: 600;
        min-width: 125px;
        border-radius: 0;
        text-transform: uppercase;
        border: 1px solid #232323;
        background-color: #232323;
        text-decoration: none;
        @media (min-width: 1025px) {
            &:hover, &:focus, &:active {
                color: #232323;
                border: 2px solid #232323;
                background-color: #ffffff;
            }
        }
    }
}

//
// Form Labels
// Text Color
// Styles text labels on form fields.
// -----------------------------------------------------------------------------

.optimizedCheckout-form-label {
    font-size: 12px;
    font-weight: 500;
    color: #232323;
    small {
        color: #999999;
        font-weight: 400;
    }
}

.form-field--error {
    .optimizedCheckout-form-label,
    .form-inlineMessage {
        color: #d14343;
    }
}
//
// Form Input
// Background, Border, Shadow and Text Color
// Styles form fields.
// -----------------------------------------------------------------------------

$optimizedCheckout-input-boxShadow: inset 0 1px 1px #e5e5e5;
$optimizedCheckout-input--focus-boxShadow: 0 0 3px transparentize(#5696ef, 0.6);
$optimizedCheckout-input--error-boxShadow: 0 0 3px transparentize(#d14343, 0.6);

.optimizedCheckout-form-input,
.optimizedCheckout-form-select {
    height: 36px;
    font-size: 12px;
    padding: 8px 15px;
    line-height: 20px;
    border-radius: 0px;
    box-shadow: none;
    color: stencilColor('color-textBase');
    background-color: #ffffff;
    border-color: #dcdcdc;
    &::placeholder {
        color: #999999;
    }
    .form-field--error & {
        background-color: #ffffff;
        border-color: #d14343;
        box-shadow: $optimizedCheckout-input--error-boxShadow, $optimizedCheckout-input-boxShadow;
    }
}

.optimizedCheckout-form-input:focus,
.optimizedCheckout-form-select:focus,
.optimizedCheckout-form-select:hover {
    box-shadow: none;
    border-color: #5696ef;
    background-color: #ffffff;
}

.optimizedCheckout-form-label::before {
    .optimizedCheckout-form-radio + &,
    .optimizedCheckout-form-checkbox + & {
        opacity: 1;
        border-color: #dcdcdc;
        background-color: #ffffff;
        box-shadow: $optimizedCheckout-input-boxShadow;
    }

    .optimizedCheckout-form-radio:checked + &,
    .optimizedCheckout-form-checkbox:checked + & {
        background-color: #5696ef;
        border-color: #5696ef;
        box-shadow: none;
    }

    .optimizedCheckout-form-radio:focus + &,
    .optimizedCheckout-form-checkbox:focus + & {
        border-color: #5696ef;
        box-shadow: $optimizedCheckout-input--focus-boxShadow, $optimizedCheckout-input-boxShadow;
    }

    .optimizedCheckout-form-radio:focus:checked + &,
    .optimizedCheckout-form-checkbox:focus:checked + & {
        box-shadow: $optimizedCheckout-input--focus-boxShadow;
    }
}

//
// Discount Banners
// Background & Text & Icon Color
// Styles discount banners.
// -----------------------------------------------------------------------------

.optimizedCheckout-discountBanner {
    color: #232323;
    background-color: #e5e5e5;
    svg {
        fill: #232323;
    }
}

//
// Form Checklist (Shipping / Payment methods)
// Background & Border & Text Color
// Styles form checklists
// -----------------------------------------------------------------------------

.optimizedCheckout-form-checklist {
    color: #232323;
    border-radius: 0;
    background-color: #ffffff;
    border: 1px solid #ebebeb;
    .form-checklist-checkbox ~ .form-label {
        font-size: 14px;
        min-height: 0;
        font-weight: 500;
    }
}

.form-checklist:only-child {
    border-radius: 0;
}

.optimizedCheckout-form-checklist-item {
    border-color: #ebebeb;
    background-color: #ffffff;
}

.optimizedCheckout-form-checklist-item:hover,
.optimizedCheckout-form-checklist-item--selected {
    border-color: #ebebeb;
    background-color: #f8f8f8;
}

.optimizedCheckout-form-checklist-checkbox {
    ~ .form-label::after,
    ~ .form-label::before {
        background-color: #ffffff;
        border-color: #dcdcdc;
    }

    &:focus ~ .form-label {
        box-shadow: inset 0 0 0 1px #5696ef;
    }

    &:checked ~ .form-label::before {
        border-color: #5696ef;
    }

    &:checked ~ .form-label::after {
        background: #5696ef;
    }
}

//
// Loading Toaster
// Background & Text Color
// Styles the Loading Toaster
// -----------------------------------------------------------------------------

.optimizedCheckout-loadingToaster {
    color: #ffffff;
    background-color: #232323;
}


/*=========================================
=            www.themevale.com            =
=========================================*/

    /*--------  1.0 Global style  -------*/
        
        .form-checkbox + .form-label {
            font-weight: 400;
            color: stencilColor('color-textBase');
            &:before {
                border-radius: 3px;
            }
        }

        .form-field {
            margin-bottom: 20px;
        }

        a[data-test="forgot-password-link"] {
            display: block;
            margin-top: 10px;
        }

        .alertBox-message {
            strong, b {
                line-height: inherit;
                display: inline-block;
                vertical-align: middle;
            }
        }

        .layout {
            padding: 75px 0px;
            .layout-main {
                width: 60%;
                padding: 0 30px 0 0;
                .checkout-steps {
                    padding-right: 0;
                }
            }
            .layout-cart {
                width: 40%;
                padding: 0;
            }
        }

        .checkout-steps {
            > .checkout-step {
                padding: 0px;
                border: none;
                margin-bottom: 40px;
                &[checkout-step="customer"],
                &[checkout-step="shipping"],
                &[checkout-step="billing"] {
                    .optimizedCheckout-buttonPrimary {
                        min-width: 180px;
                    }
                }
            }
        }

        .stepHeader {
            padding: 0;
            flex-wrap: wrap;
            position: relative;
            .stepHeader-figure {
                width: 100%;
                display: block;
                height: auto;
                margin-right: 0;
                border-bottom: 2px solid #232323;
                .stepHeader-counter {
                    width: 50px;
                    height: 48px;
                    color: #ffffff;
                    font-size: 18px;
                    font-weight: 500;
                    border-radius: 0;
                    line-height: 48px;
                    position: relative;
                    margin-right: 15px;
                    display: inline-block;
                    vertical-align: middle;
                    background-color: #232323;
                    -webkit-transform: scale(1);
                    transform: scale(1);
                    &.stepHeader-counter--complete {
                       transform: scale(1); 
                    }
                }
                .stepHeader-title {
                    margin: 0;
                    padding: 0;
                    font-size: 16px;
                    font-weight: 600;
                    min-width: 350px;
                    display: inline-block;
                    vertical-align: middle;
                    text-transform: uppercase;
                }
            }
            .stepHeader-body {
                margin-top: 20px;
                margin-left: 65px;
                .checkout-address--static .address-entry {
                    margin-bottom: 5px;
                }
            }
            .stepHeader-actions {
                position: absolute;
                right: 0;
                top: 0;
                margin: 0;
                z-index: 10;
                .button {
                    font-weight: 500;
                    line-height: 50px;
                    text-decoration: none;
                    text-transform: uppercase;
                }
            }
            .stepHeader-counter--complete svg {
                padding: 10px;
            }
        }

        .checkout-view-content {
            margin-top: 30px;
            .checkout-form {
                margin-top: 0;
                margin-right: 0;
                margin-bottom: 0;
                max-width: 580px;
                .form-body {
                    p > a,
                    a[data-test="forgot-password-link"] {
                        color: #232323;
                        font-weight: 500;
                        text-decoration: underline;
                        text-underline-position: under;
                    }
                }
            }
            .form-legend {
                width: auto;
                color: #232323;
                font-size: 13px;
                font-weight: 600;
                line-height: 24px;
                padding-bottom: 0px;
                margin-bottom: 20px;
                position: relative;
                display: inline-block;
                text-transform: uppercase;
            }
            .form-body {
                margin-bottom: 0;
            }
        }

        #checkout-shipping-comments {
            .optimizedCheckout-form-input {
                min-height: 75px;
            }
        }

        #checkout-payment-continue {
            padding: 13px 30px;
            font-size: 16px;
            color: #ffffff;
            background-color: #e95144;
            border-color: #e95144;
        }

        .form-checklist-body {
            .form-checklist-container {
                padding-top: 0;
                padding-bottom: 10px;
                p {
                    margin-bottom: 0;
                }
            }
        }
        #checkout-shipping-options {
            margin-bottom: 20px;
        }

        .orderConfirmation {
            padding-top: 0;
            h1[data-test="order-confirmation-heading"] {
                margin-bottom: 30px;
            }
            #createAccountButton {
                min-width: 200px;
            }
        }

        .socialBadges-header {
            margin-top: 1.5rem;
        }

    /*--------  RESPONSIVE  -------------*/
        @media (max-width: 1024px) {
            .layout,
            .optimizedCheckout-header {
                padding-left: 15px;
                padding-right: 15px;
            }
        }
        @media (max-width: 992px) {
            .layout {
                .layout-main {
                    padding: 0;
                    width: 100%;
                }
                .layout-cart {
                    padding: 0;
                    width: 100%;
                }
            }

            .stepHeader {
                .stepHeader-figure {
                    .stepHeader-counter {
                        width: 35px;
                        height: 35px;
                        line-height: 35px;
                        margin-right: 10px;
                        font-size: 16px;
                        &:before {
                            font-size: 16px;
                        }
                    }
                    .stepHeader-title {
                        font-size: 16px;
                    }
                }
                .stepHeader-actions {
                    .button {
                        line-height: 35px;
                    }
                }
                .stepHeader-body {
                    margin-top: 10px;
                    margin-left: 55px;
                }
            }

            .checkout-view-content {
                margin-top: 10px;
            }

            .checkout-steps {
                > .checkout-step {
                    margin-bottom: 30px;
                }
            }
        }

        @media (max-width: 767px) {
            .optimizedCheckout-header {
                .checkoutHeader-link img {
                    max-height: 30px;
                }
                .checkoutHeader-content {
                    padding: 20px 0;
                }
                .checkoutHeader-heading {
                    text-align: left;
                    font-size: 30px;
                    line-height: 1;
                }
            }
            .stepHeader .stepHeader-body {
                margin-left: 0;
            }
            .checkout-view-content .checkout-form {
                margin-left: auto;
                margin-right: auto;
            }
            .layout {
                padding-top: 30px;
                padding-bottom: 90px;
            }
            #checkout-shipping-comments .optimizedCheckout-form-input {
                min-height: 0;
            }
            .orderConfirmation {
                h1[data-test="order-confirmation-heading"] {
                    font-size: 26px;
                    margin-bottom: 20px;
                }
                .form-body {
                    margin-bottom: 0;
                }
            }
        }

        @media (max-width: 550px) {
            .optimizedCheckout-header {
                .checkoutHeader-content {
                    padding: 15px 0;
                }
            }
            .customerEmail-body {
                width: 100%;
            }
            .customerEmail-action {
                width: 100%;
                padding-left: 0;
                margin-top: 0;
            }

            #checkout-payment-continue {
                padding: 8px 15px;
                font-size: 12px;
            }
            .cart-modal-body {
                padding-left: 0;
                padding-right: 0;
            }
            .stepHeader {
                .stepHeader-figure {
                    .stepHeader-title {
                        min-width: 0;
                        font-size: 14px;
                    }
                }
            }
            .cartDrawer-body {
                padding-left: 15px;
                .cartDrawer-items {
                    font-size: 14px;
                }
            }
            .cartDrawer-total {
                font-size: 18px;
            }

            .form-prefixPostfix .button {
                min-width: 90px;
            }

            .orderConfirmation {
                .orderConfirmation-section {
                    margin-bottom: 20px;
                    padding-bottom: 20px;
                }
            }

            .cart-modal-header {
                .cart-modal-close {
                    width: 30px;
                }
                .cart-modal-link {
                    width: 50px;
                }
            }

            .optimizedCheckout-orderSummary {
                margin-left: 15px;
                margin-right: 15px;
                margin-bottom: 15px !important;
                .cart-section .product {
                    .product-figure {
                        width: 75px;
                        padding-right: 15px;
                    }
                    .product-body {
                        width: calc(75% - 75px);
                    }
                    .product-actions {
                        align-self: flex-start;
                        -ms-flex-order: 3;
                        order: 3;
                        text-align: right;
                        width: 25%;
                    }
                }
            }
        }

/*=====  End of www.themevale.com  ======*/

//
// Rebillia Platform Integration
// Styles
// -----------------------------------------------------------------------------
body {
  & .checkout-step--customer, & .checkout-step--payment {
    & .rebillia-customer--loader, & .rebillia-payment--loader {
      color: #2d2d2d;
      display: none;
      justify-content: right;
      left:0;
      margin: auto;
      margin-right: 0;
      min-width: 130px;
      position:relative;
      opacity:0;
      top:0;
      transition: opacity .3s ease-in-out;
    }
    & .checkout-view-content {
      & div:first-child {
        max-height: 0;
        opacity: 0;
        overflow: hidden;
        transition: max-height .3s ease-in-out, opacity .3s ease-in-out;
      }
      & .creditCardFieldset, & .form-ccFields {
        max-height: 0;
        opacity: 0;
        overflow: hidden;
        transition: max-height .3s ease-in-out, opacity .3s ease-in-out;
      }
      & .rebillia-payment-form {
        & .rebillia-customer-payment-list {
          margin: 0;
          padding: 0;
          & .rebillia-form-row {
            background-color: transparent;
            border: 0 none;
            list-style: none;
            & .rebillia-form-field {
              & .form-label {
                &.rebillia-form-label {
                  padding-left: 2.5em;
                  &:before, &:after {
                    left: 0;
                  }
                }
              }
            }
            &.row-payment-form {
              max-height: 0;
              opacity: 0;
              overflow: hidden;
              transition: max-height .3s ease-in-out, opacity .3s ease-in-out;
            }
          }
        }
        &.rebillia-payment-form--visible {
          & .rebillia-customer-payment-list {
            & .rebillia-form-row {
              &.row-payment-form {
                max-height: 2048px;
                opacity: 1;
              }
            }
          }
        }
      }
    }
    & .rebillia-paypal-agreement-message {
      max-height: 0;
      opacity: 0;
      overflow: hidden;
      transition: opacity .3s ease-in-out, max-height .3s ease-in-out;
    }
  }
  & .modal-background {
    &.rebillia-modal-background {
      display: block;
      opacity: 0;
      transition: opacity .45s ease-in-out;
      z-index: -1;
    }
  }
  & .modal {
    &.rebillia-modal {
      display: block;
      opacity: 0;
      pointer-events: none;
      transition: opacity .33s ease-in-out;
      visibility: visible;
      z-index: -1;
    }
  }
  &.rebillia-step-customer--loaded {
    & .checkout-step--customer {
      & .rebillia-customer--loader {
        display: none;
        opacity: 0;
      }
      & .checkout-view-content {
        & div:first-child{
          max-height: 2048px;
          opacity: 1;
        }
      }
    }
  }
  &.rebillia-step-customer--loading {
    & .checkout-step--customer {
      & .rebillia-customer--loader {
        display: flex;
        opacity: 1;
      }
      & .checkout-view-content {
        & div:first-child {
          max-height: 0;
          opacity: 0;
        }
      }
    }
  }
  &.rebillia-step-payment--loaded {
    & .checkout-step--payment {
      & .rebillia-payment--loader {
        display: none;
        opacity: 0;
      }
      & .checkout-view-content {
        & div:first-child{
          max-height: 2048px;
          opacity: 1;
        }
        & .creditCardFieldset, & .form-ccFields {
          max-height: 2048px;
          opacity: 1;
        }
        & .form-ccFields {
          &.rebillia--force--hidden {
            display: none!important;
          }
        }
      }
    }
    &.rebillia-payment-source--selected {
      & .checkout-step--payment {
        & .checkout-view-content {
          & .paymentMethod {
            & .creditCardFieldset, & .form-ccFields, & .form-fieldset {
              margin: 0;
              max-height: 0;
              opacity: 0;
            }
          }
          & .form-ccFields {
            &.rebillia-form-ccFields {
              max-height: 2048px;
              opacity: 1;
              overflow: auto;
            }
            &.rebillia--force--hidden {
              display: none!important;
            }
          }
        }
      }
    }
    &.rebillia-payment-source--onpaypal {
      & .rebillia-paypal-agreement-message {
        max-height: 2048px;
        opacity: 1;
      }
    }
  }
  &.rebillia-step-payment--loading {
    & .checkout-step--payment {
      & .rebillia-payment--loader {
        display: flex;
        opacity: 1;
      }
      & .checkout-view-content {
        & div:first-child {
          max-height: 0;
          opacity: 0;
        }
      }
    }
  }
  &.rebillia-modal--show {
    & .modal-background {
      &.rebillia-modal-background {
        opacity: 1;
        z-index: 100;
      }
    }
    & .modal {
      &.rebillia-modal {
        opacity: 1;
        pointer-events: auto;
        z-index: 101;
      }
    }
  }
}
