<div class="sidebarBlock" id="advertisement-image-1">
	<div class="advertisement-image">
		<a class="image" href="#">
			<img class="lazyload" src="{{cdn 'img/loading.svg'}}" data-src="https://cdn11.bigcommerce.com/s-3tntjfynbx/product_images/uploaded_images/banner-ads-1.jpg" alt="">
		</a>
	</div>
</div>
<div class="sidebarBlock" id="advertisement-image-2">
	<div class="advertisement-image">
		<a class="image" href="#">
			<img class="lazyload" src="{{cdn 'img/loading.svg'}}" data-src="https://cdn11.bigcommerce.com/s-3tntjfynbx/product_images/uploaded_images/banner-ads-2.jpg" alt="">
		</a>
	</div>
</div>
