{{#partial "page"}}
<div class="themevale_breadcrumb">
    {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
    <h1 class="page-heading">{{lang 'account.returns.heading' }}</h1>
</div>

<main class="page">
    {{> components/account/navigation account_page='returns'}}
    <div class="account">
        <div class="account-body">
            <section class="account-content">
                {{#if customer.returns}}
                    {{> components/account/returns-list returns=customer.returns}}
                {{else}}
                    {{> components/common/alert-info (lang 'account.returns.none')}}
                {{/if}}
            </section>
        </div>
    </div>
</main>

{{/partial}}
{{> layout/base}}
