<header class="header themevale_header-layout-4 {{#and (if page_type '===' 'default') theme_settings.header-transparent-layout-4}}themevale-header-transparent{{/and}}">
    <div class="themevale_header-PC">
        <div class="themevale_header-top">
            {{> components/themevale/header/navigation-3}}
        </div>
        <div class="themevale_header-middle">
            <div class="container-middle">
                <div class="text-left">
                    <div class="navUser-item">Mid-Season Sale Up to 70% OFF</div>
                </div>
                {{#and (if page_type '===' 'default') theme_settings.header-transparent-layout-4}}
                    <div class="logo-wrapper">
                        <div class="header-sticky-logo">
                            <a href="{{urls.home}}">
                                {{#if settings.store_logo.image}}
                                    <img class="header-logo-image lazyload" src="{{cdn 'img/loading.svg'}}" data-src="/product_images/uploaded_images/logo-whitecolor.png" alt="{{settings.store_logo.title}}" title="{{settings.store_logo.title}}">
                                {{else}}
                                    <span class="header-logo-text">{{settings.store_logo.title}}</span>
                                {{/if}}
                            </a>
                        </div>
                    </div>
                {{else}}
                    <div class="logo-wrapper">
                        {{#if page_type '===' 'default'}}
                            <h1 class="header-logo">
                                {{> components/common/store-logo}}
                            </h1>
                        {{else}}
                            <div class="header-logo">
                                {{> components/common/store-logo}}
                            </div>
                        {{/if}}
                    </div>
                {{/and}}
                <div class="text-right">
                    <div class="navUser-item navUser-item--quickSearch">
                        {{{ snippet "forms_search"}}}
                        <form class="form" action="{{urls.search}}">
                            <fieldset class="form-fieldset">
                                <div class="form-field style-3">
                                    <label class="is-srOnly" for="search_query">{{lang "search.quick_search.input_label"}}</label>
                                    <input class="form-input" data-search-quick name="search_query" id="search_query" data-error-message="{{lang 'search.error.empty_field'}}" placeholder="{{lang 'search.quick_search.input_label'}}" autocomplete="off">
                                     <button class="button-submit" type="submit"><svg class="icon"><use xlink:href="#icon-search"></use></svg></button>
                                </div>
                            </fieldset>
                        </form>
                        <div class="quickSearchResults" data-bind="html: results"></div>
                    </div>
                    <div class="navUser-item navUser-item--wishList">
                        <a class="navUser-action" href="{{urls.account.wishlists.all}}">
                            <div class="navUser-icon">
                                <svg class="icon"><use xlink:href="#icon-heart-3"></use></svg>
                            </div>
                        </a>
                    </div>
                    <div class="navUser-item navUser-item--cart themevale_cart">
                        <a class="navUser-action"
                            data-cart-preview
                            data-options="align:right"
                            href="{{urls.cart}}">
                            <div class="navUser-icon navUser-item-cartIcon">
                                <svg class="icon"><use xlink:href="#icon-cart"></use></svg>
                            </div>
                            <span class="countPill{{#if cart.items}} countPill--positive{{/if}} cart-quantity">{{#if cart.items}}{{cart.quantity}}{{else}}0{{/if}}</span>
                        </a>
                        <div class="dropdown-cart" id="cart-preview-dropdown" aria-hidden="true"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="themevale_header-bottom menu-sticky">
            <div class="logo-wrapper">
                <div class="header-sticky-logo">
                    <a href="{{urls.home}}">
                        {{#if settings.store_logo.image}}
                            {{#if theme_settings.logo_size '===' 'original'}}
                                <img class="header-logo-image-unknown-size" src="{{getImage settings.store_logo.image 'logo_size'}}" alt="{{settings.store_logo.title}}" title="{{settings.store_logo.title}}">
                            {{else}}
                                <span class="header-logo-image-container">
                                    <img class="header-logo-image" src="{{getImage settings.store_logo.image 'logo_size'}}" alt="{{settings.store_logo.title}}" title="{{settings.store_logo.title}}">
                                </span>
                            {{/if}}
                        {{else}}
                            <span class="header-logo-text">{{settings.store_logo.title}}</span>
                        {{/if}}
                    </a>
                </div>
            </div>
            {{> components/common/navigation-menu}}
            {{> components/common/sticky-cart-search}}
        </div>
    </div>
    <div class="themevale_header-Mobile">
        {{> components/themevale/header/header-mobile}}
    </div>
</header>
