<style>
#menu .cateArea > ul > li{    width: fit-content;}
#menu .cateArea > ul > li{ padding: 0 25% 15px 25%;}
.navPages .navPages-action{    font-size: 15px;}
</style>
<script>

var themevaleMenu = new window.themevaleMenu();

$(document).ready(function() {
    if (!$('.themevale_allCategories-dropdown').length) {
        /* Megamenu Settings for Home 1 - 14*/

        themevaleMenu.menuItem(1).themevaleMegaMenu({
            dropAlign: 'fullWidth',   // Dropdown MegaMenu Alignment: left, right, center, fullWidth
            dropWidth: '100%',       // Width of Dropdown MegaMenu (if dropAlign: fullWidth => dropWidth auto set 100%)
            dropType: 'noImage',   // Type of Dropdown MegaMenu content: imageLeft, imageRight, noImage
            imageAreaWidth: '0%',    // width of images area
            cateAreaWidth: '100%',     // width of categories area
            cateColumns: 3,           // columns of categories area - max 5 columns
            // contents for images column (HTML supported)
            images: '<div class="imgList">\
                        <div class="imgItem imgLeft">\
                            <a href="#"><img src="https://cdn11.bigcommerce.com/s-3tntjfynbx/product_images/uploaded_images/header-img-1.jpg" alt=""/></a>\
                            <a href="#"><img src="https://cdn11.bigcommerce.com/s-3tntjfynbx/product_images/uploaded_images/header-img-2.jpg" alt=""/></a>\
                        </div>\
                        <div class="imgItem imgRight">\
                            <a href="#"><img src="https://cdn11.bigcommerce.com/s-3tntjfynbx/product_images/uploaded_images/header-img-3.jpg" alt=""/></a>\
                        </div>\
                    </div>',
          //  bottomMegamenu: '<div class="own-text"><span>free shipping in the u.s. & internationally</span></div>'

          //label: 'new',              // Type of Menu Lablel: sale, hot, new
        });

        themevaleMenu.menuItem(11).themevaleMegaMenu({
            dropAlign: 'fullWidth',     // Dropdown MegaMenu Alignment: left, right, center, fullWidth
            dropWidth: '800px',         // Width of Dropdown MegaMenu (if dropAlign: fullWidth => dropWidth auto set 100%)
            dropType: 'imageTop',       // Type of Dropdown MegaMenu content: imageLeft, imageRight, noImage
            imageAreaWidth: '0%',       // width of images area
            cateAreaWidth: '100%',      // width of categories area
            cateColumns: 5,             // columns of categories area - max 5 columns
            label: 'sale',              // Type of Menu Lablel: sale, hot, new
            // contents for images column (HTML supported)
            imagesTop: [
                '<a class="imageTop-item" href="#"><img src="https://cdn11.bigcommerce.com/s-3tntjfynbx/product_images/uploaded_images/header-img-4.jpg" alt=""/></a>',
                '<a class="imageTop-item" href="#"><img src="https://cdn11.bigcommerce.com/s-3tntjfynbx/product_images/uploaded_images/header-img-5.jpg" alt=""/></a>',
                '<a class="imageTop-item" href="#"><img src="https://cdn11.bigcommerce.com/s-3tntjfynbx/product_images/uploaded_images/header-img-6.jpg" alt=""/></a>',
                '<a class="imageTop-item" href="#"><img src="https://cdn11.bigcommerce.com/s-3tntjfynbx/product_images/uploaded_images/header-img-7.jpg" alt=""/></a>',
                '<a class="imageTop-item" href="#"><img src="https://cdn11.bigcommerce.com/s-3tntjfynbx/product_images/uploaded_images/header-img-8.jpg" alt=""/></a>'
            ],
        });

        themevaleMenu.menuItem(3).themevaleMegaMenu({
            dropAlign: 'fullWidth',   // Dropdown MegaMenu Alignment: left, right, center, fullWidth
            dropWidth: '800px',       // Width of Dropdown MegaMenu (if dropAlign: fullWidth => dropWidth auto set 100%)
            dropType: 'noImage',    // Type of Dropdown MegaMenu content: imageLeft, imageRight, noImage
            imageAreaWidth: '38%',    // width of images area
            cateAreaWidth: '100%%',     // width of categories area
            cateColumns: 3,           // columns of categories area - max 5 columns
            // contents for images column (HTML supported)
            images: '<div class="imgList"><div class="imgItem--full"><a href="#"><img src="https://cdn11.bigcommerce.com/s-3tntjfynbx/product_images/uploaded_images/header-img-9.jpg" alt=""/></a></div></div>'
        });

        themevaleMenu.menuItem(4).themevaleMegaMenu({
           dropAlign: 'fullWidth',   // Dropdown MegaMenu Alignment: left, right, center, fullWidth
            dropWidth: '100%',       // Width of Dropdown MegaMenu (if dropAlign: fullWidth => dropWidth auto set 100%)
            dropType: 'noImage',   // Type of Dropdown MegaMenu content: imageLeft, imageRight, noImage
            imageAreaWidth: '0%',    // width of images area
            cateAreaWidth: '100%',     // width of categories area
            cateColumns: 3,           // columns of categories area - max 5 columns
            // contents for images column (HTML supported)
            images: '<div class="imgList style-2">\
                        <div class="imgItem imgLeft">\
                        <div class="imgHeading">Featured products</div>\
                            <article class="card">\
                                <figure class="card-figure">\
                                    <a href="#" class="product_img_link">\
                                        <div class="card-img-container">\
                                            <img class="card-image" src="https://cdn11.bigcommerce.com/s-3tntjfynbx/images/stencil/357x476/products/114/411/6-3__28920.1542949986.jpg?c=2" alt="" title="(Sample)">\
                                        </div>\
                                    </a>\
                                </figure>\
                                <div class="card-body">\
                                    <div class="card-detail">\
                                        <p class="card-brand" data-test-info-type="brandName">Jimmy Choo®</p>\
                                        <h4 class="card-title">\
                                            <a href="/sample-aenean-commodo-lipsum-quis-blandit-exims/">Dinterdum pretium condimento</a>\
                                        </h4>\
                                        <p class="card-rating" data-test-info-type="productRating">\
                                            <span class="icon icon--ratingFull"><svg><use xlink:href="#icon-star"></use></svg></span>\
                                            <span class="icon icon--ratingFull"><svg><use xlink:href="#icon-star"></use></svg></span>\
                                            <span class="icon icon--ratingFull"><svg><use xlink:href="#icon-star"></use></svg></span>\
                                            <span class="icon icon--ratingFull"><svg><use xlink:href="#icon-star"></use></svg></span>\
                                            <span class="icon icon--ratingFull"><svg><use xlink:href="#icon-star"></use></svg></span>\
                                        </p>\
                                        <div class="card-price-wrapper">\
                                            <div class="card-price" data-test-info-type="price">\
                                                <div class="price-section price-section--withoutTax price-none"></div>\
                                                <div class="price-section price-section--withoutTax">\
                                                    <span data-product-price-without-tax="" class="price price--withoutTax">$189.99</span>\
                                                </div>\
                                            </div>\
                                        </div>\
                                        <figcaption class="card-figcaption">\
                                            <a href="https://new-ella-demo.mybigcommerce.com/suspendisse-interdum-faucibus-orci/" class="link">Shop Now</a>\
                                        </figcaption>\
                                    </div>\
                                </div>\
                            </article>\
                        </div>\
                        <div class="imgItem imgRight">\
                            <a href="#"><img src="https://cdn11.bigcommerce.com/s-3tntjfynbx/product_images/uploaded_images/banner-ads-2.jpg" alt=""/></a>\
                        </div>\
                    </div>',
        });

        themevaleMenu.menuItem(7).themevaleMegaMenu({
            //label: 'hot',             // Type of Menu Lablel: sale, hot, new
            disabled: true
        });

    } else {
        
        /* Megamenu Settings for Home 15*/

        themevaleMenu.menuItem(1).themevaleMegaMenu({
            dropAlign: 'fullWidth',   // Dropdown MegaMenu Alignment: left, right, center, fullWidth
            dropWidth: '800px',       // Width of Dropdown MegaMenu (if dropAlign: fullWidth => dropWidth auto set 100%)
            dropType: 'imageRight',   // Type of Dropdown MegaMenu content: imageLeft, imageRight, noImage
            imageAreaWidth: '27%',    // width of images area
            cateAreaWidth: '73%',     // width of categories area
            cateColumns: 3,           // columns of categories area - max 5 columns
            // contents for images column (HTML supported)
            images: '<div class="imgList">\
                        <a href="#"><img src="https://cdn11.bigcommerce.com/s-3tntjfynbx/product_images/uploaded_images/header-img-10.jpg" alt=""/></a>\
                    </div>'
        });

        themevaleMenu.menuItem(2).themevaleMegaMenu({
            dropAlign: 'fullWidth',     // Dropdown MegaMenu Alignment: left, right, center, fullWidth
            dropWidth: '800px',         // Width of Dropdown MegaMenu (if dropAlign: fullWidth => dropWidth auto set 100%)
            dropType: 'imageTop',       // Type of Dropdown MegaMenu content: imageLeft, imageRight, noImage
            imageAreaWidth: '0%',       // width of images area
            cateAreaWidth: '100%',      // width of categories area
            cateColumns: 4,             // columns of categories area - max 5 columns
            label: 'sale',              // Type of Menu Lablel: sale, hot, new
            // contents for images column (HTML supported)
            imagesTop: [
                '<a class="imageTop-item" href="#"><img src="https://cdn11.bigcommerce.com/s-3tntjfynbx/product_images/uploaded_images/header-img-4.jpg" alt=""/></a>',
                '<a class="imageTop-item" href="#"><img src="https://cdn11.bigcommerce.com/s-3tntjfynbx/product_images/uploaded_images/header-img-5.jpg" alt=""/></a>',
                '<a class="imageTop-item" href="#"><img src="https://cdn11.bigcommerce.com/s-3tntjfynbx/product_images/uploaded_images/header-img-6.jpg" alt=""/></a>',
                '<a class="imageTop-item" href="#"><img src="https://cdn11.bigcommerce.com/s-3tntjfynbx/product_images/uploaded_images/header-img-7.jpg" alt=""/></a>'
            ],
        });

        themevaleMenu.menuItem(3).themevaleMegaMenu({
            dropAlign: 'fullWidth',   // Dropdown MegaMenu Alignment: left, right, center, fullWidth
            dropWidth: '800px',       // Width of Dropdown MegaMenu (if dropAlign: fullWidth => dropWidth auto set 100%)
            dropType: 'imageRight',   // Type of Dropdown MegaMenu content: imageLeft, imageRight, noImage
            imageAreaWidth: '27%',    // width of images area
            cateAreaWidth: '73%',     // width of categories area
            cateColumns: 3,           // columns of categories area - max 5 columns
            // contents for images column (HTML supported)
            images: '<div class="imgList">\
                        <a href="#"><img src="https://cdn11.bigcommerce.com/s-3tntjfynbx/product_images/uploaded_images/header-img-11.jpg" alt=""/></a>\
                    </div>'
        });

        themevaleMenu.menuItem(6).themevaleMegaMenu({
            disabled: true,
            //label: 'new'
        });
        themevaleMenu.menuItem(7).themevaleMegaMenu({
            //label: 'hot',             // Type of Menu Lablel: sale, hot, new
            disabled: true
        });
        
    }

});
</script>
