// =============================================================================
// SWATCH SIZES (CSS)
// =============================================================================


// Swatch Size Changes
// -----------------------------------------------------------------------------

// do some math
$value_of_swatch_size : stencilString("swatch_option_size");
$position_of_x : str-index($value_of_swatch_size, "x");
$first_value : str-slice($value_of_swatch_size, 0, $position_of_x - 1);
$second_value : str-slice($value_of_swatch_size, $position_of_x + 1);

[data-product-attribute] {
    .form-label {
        > small {
            float: none;
            font-size: 0;
            margin-left: 2px;
            text-transform: capitalize;
            &:before {
                content: "*";
                color: #e95144;
                font-size: 1rem;
            }
        }
    }
    .form-option {
        padding: 0;
        z-index: 1;
        width: 34px;
        height: 34px;
        line-height: 34px;
        text-align: center;
        vertical-align: top;
        position: relative;
        border-radius: 50%;
        margin-right: 7px;
        border: 1px solid #e0e0e0;
        color: stencilColor('color-textBase');
        .form-option-variant {
            padding: 0;
            min-width: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            position: relative;
        }
        @media (min-width: 415px) {
            margin-right: 10px;
        }
    }
    .form-option-swatch {
        border: none;
        box-shadow: inset 0 0 0 1px #e0e0e0;
        .form-option-variant {
            z-index: -1;
            margin: 4px;
            width: 26px;
            height: 26px;
            border-radius: 50%;
            position: relative;
        }
    }
    .form-option.unavailable {
        opacity: 1;
        pointer-events: none;
        background-color: transparent;
        &:before {
            left: -7px;
            top: 17px;
            height: 1px;
            width: calc(140% - 1px);
            background-color: #f9a6ac;
        }
        .form-option-variant {
            opacity: 0.3;
        }
    }
    .form-radio:checked + .form-option.unavailable {
        border: none;
        box-shadow: 0 0 0 1px #505050;
    }
    .form-radio:checked + .form-option {
        border-color: stencilColor('color-textHeading');
        box-shadow: inset 0 0 0 1px stencilColor('color-textHeading');
    }
}

[data-product-attribute="swatch"] .form-radio:checked + .form-option {
    border: none;
    box-shadow: inset 0 0 0 2px stencilColor('color-textHeading');
}
[data-product-attribute="set-rectangle"] {
    .form-option .form-option-variant {
        max-width: 26px;
        overflow: hidden;
    }
}

.form-option-variant--color,
.form-option-variant--pattern {
    height: $second_value +"px";
    width: $first_value +"px";
}

.form-option-expanded {
    background-color: stencilColor("body-bg");
    border: 1px solid stencilColor("input-border-color-active");
    left: 0;
    line-height: 1;
    opacity: 0;
    padding: 5px;
    border-radius: 3px;
    position: absolute;
    top: calc(100% + 5px);
    transition: opacity 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    visibility: hidden;
    .title {
        font-size: 12px;
        margin-bottom: 5px;
        display: block;
    }
}

.form-option:hover {
    @media (min-width: 1025px) {
        .form-option-expanded {
            opacity: 1;
            transform: translate(-50%, 0);
            visibility: visible;
            z-index: 5000;
        }
    }
}

.form-option-image {
    background: {
        position: 50%;
        repeat: no-repeat;
        size: cover;
    }
    display: block;
    height: 100px;
    width: 100px;
}
