<nav>
   {{#if category.faceted_search_enabled}}
        {{> components/faceted-search/index category}}
    {{else}}
         <!-- All categories 
        {{> components/themevale/sidebar/side-all-categories}} -->
        <!-- price range -->
        {{> components/category/shop-by-price shop_by_price=category.shop_by_price category_url=category.url}}
        <!-- Shop by Brands
        {{> components/themevale/sidebar/side-shop-by-brands}} -->
        <!-- slider product -->
        {{#if products.featured}}
            {{> components/themevale/sidebar/featured-products products=products.featured}}
        {{/if}}
        <!-- advertisement imagex
        {{> components/themevale/sidebar/advertisement-image}}
        {{> components/themevale/sidebar/advertisement-content}}-->
    {{/if}}
</nav>
