{{#if layout}}
    <section class="themevale-section {{padding_top}} {{padding_bottom}}" data-event="show more" data-number-product="{{products_show}}">
        <div class="container">
            <h2 class="page-heading {{custom}}"><span class="title">{{title}}</span></h2>
            {{#if description}}
                <p class="page-description">{{description}}</p>
            {{/if}}
            <ul class="productGrid productGrid--maxCol{{ columns }}" data-product-type="new" {{#if settings.data_tag_enabled}} data-list-name="New Products" {{/if}}>
                {{#each products}}
                    <li class="product">
                        {{>components/products/card settings=../settings theme_settings=../theme_settings customer=../customer show_rating=../settings.show_product_rating show_wishlist=../settings.show_wishlist event="list" position=(add @index 1)}}
                    </li>
                {{/each}}
            </ul>
        </div>
    </section>
{{else}}
    <section class="themevale-section {{padding_top}} {{padding_bottom}}">
        <div class="container">
            <h2 class="page-heading {{custom}}"><span class="title">{{title}}</span></h2>
            {{#if description}}
                <p class="page-description">{{description}}</p>
            {{/if}}
            {{#if settings.data_tag_enabled}}
                {{> components/products/carousel settings=../settings products=products list="New Products" arrows=true dots=false}}
            {{else}}
                {{> components/products/carousel products=products arrows=true dots=false}}
            {{/if}}
        </div>
    </section>
{{/if}}
